# Parsing Debug Notebook

This somewhat messy notebook makes it easier to debug the parser, because we can just rerun the cells needed to set up the debugging process with various parameters.

In [1]:
import json
import math
import re
from pathlib import Path

import boto3
import pandas as pd

from parse_990_textract.bucket import open_df
from parse_990_textract.filing import create_roadmap, extract_from_roadmap
from parse_990_textract.models import BoundingBox, TableExtractor
from parse_990_textract.parse import create_extractors, find_item, find_pages
from parse_990_textract.postprocessing import clean_filing, clean_f_i, clean_f_ii, clean_f_iii, postprocess
from parse_990_textract.setup import load_extractor_df
from parse_990_textract.table import extract_table_data, find_table_pages, create_tablemap
from parse_990_textract.utils import get_coordinate, get_regex, cluster_words, columnize, cluster_x

In [2]:
bucket = boto3.resource("s3").Bucket("s3-ocr-990s-demo")

In [3]:
validation_data = pd.read_csv("validation_data.csv", index_col="job_id").fillna("")
validation_data.head()

,pdf_key,other_expenses_c_mgmt_general,payments_affiliates_total,other_expenses_d_prog_service,total_revenue,fees_for_lobbying_services_total,other_employee_benefits_fundraising,total_fundraising_expenses,compensation_officers_prog_service,fees_for_mgmt_services_total,...,travel_total,pension_plan_acc_contrib_prog_service,advertising_promotion_mgmt_general,pension_plan_acc_contrib_mgmt_general,compensation_disq_persons_total,other_salaries_wages_mgmt_general,office_expenses_mgmt_general,fees_for_other_services_fundraising,total_number_other_recipient_foreign_orgs_entities,activities_per_region_totals_total_expenditure
job_id,,,,,,,,,,,,,,,,,,,,,
0f908c03383d094f6c1386749189f281d188d5ea0cd64c4e424a5b1aae1650c4,EIN_760733035_YEAR_2009_FORMTYPE_990.pdf,,,33000.0,1415024,,,4503.0,,,...,18307.0,,,,,,,,,
bcc635fa2b088a72666c3d534d0221a1c1294f2974a6a304679654069e5cbcdc,EIN_363235550_YEAR_2009_FORMTYPE_990.pdf,,,15832.0,9899921,,27161.0,597789.0,295722.0,,...,677722.0,34261.0,30,3462.0,,159156.0,48381.0,22350.0,,
f0545c488bd7ab7e775c25cfa7d050a3ff1f84dea9a3371b8fef236bd3d0624b,EIN_223134995_YEAR_2010_FORMTYPE_990.pdf,0.0,,10823.0,3370595,,12776.0,263765.0,148689.0,2250.0,...,197092.0,,127381,,396855.0,103312.0,11723.0,23021.0,,
4f2b05354be9fb6483976694a1ed0494c7c387631c15130bdaaa1a85a1cf4f82,EIN_264320885_YEAR_2009_FORMTYPE_990.pdf,,,,46117,,,669.0,,,...,,,,,,,458.0,,,
1dd5dc37f4e99e27668c769d04d0f72273a6c582d504bf0b88d35d5a4c15c1be,EIN_581943161_YEAR_2009_FORMTYPE_990.pdf,581.0,,0.0,583209,,2521.0,14409.0,298484.0,,...,7233.0,,,,,,4010.0,0.0,,

In [4]:
extractor_df = load_extractor_df("990_extractors.csv")
roadmap_df = load_extractor_df("990_roadmap.csv")
schedule_f_tablemap_df = load_extractor_df("schedule_f_table_roadmap.csv")
schedule_f_table_extractor_df = pd.read_csv("schedule_f_table_extractors.csv")
schedule_f_row_extractor_df = pd.read_csv("schedule_f_row_extractors.csv")

In [5]:
PART_I_HEADER = r"\(a\)\s*Region|\(d\)\s*Activities|\(e\)\s*If activity|\(f\)Total expenditures"
PART_II_HEADER = r"\(b\)\s*IRS code|\(c\)\s*Region|\(d\)\s*Purpose|\(f\)\s*Manner|\(h\)\s*Description"
PART_III_HEADER = r"\(b\)\s*Region|\(e\)\s*Manner of cash|\(h\)\s*Method of va"
PART_I_TABLE_NAME = "Activities per Region"
PART_II_TABLE_NAME = r"Grants to Organizations Outside the United States"
PART_III_TABLE_NAME = "Grants to Individuals Outside the United States"

In [6]:
filing_rows = []
schedule_f_part_i_rows = []
schedule_f_part_ii_rows = []
schedule_f_part_iii_rows = []


for i, job_id in enumerate(validation_data.index.values):
    print(i)
    print(job_id)
    pdf_key = validation_data.at[job_id, "pdf_key"]
    print(pdf_key)
    
    data = open_df(bucket, job_id)
    lines = data.loc[data["BlockType"] == "LINE"]
    words = data.loc[data["BlockType"] == "WORD"]
    page_map = find_pages(lines)
    roadmap = create_roadmap(
        lines, roadmap_df, page_map
    )
    
    row = extract_from_roadmap(
        words, lines, roadmap, extractor_df, page_map
    )
    row = postprocess(row, job_id, pdf_key, clean_filing)
    filing_rows.append(row)
    
    pages = lines.groupby("Page")
    
    part_i_table = extract_table_data(
        pages, lines, words, PART_I_HEADER, PART_I_TABLE_NAME, 
        schedule_f_tablemap_df, schedule_f_table_extractor_df, schedule_f_row_extractor_df,
    )
    part_i_table = postprocess(part_i_table, job_id, pdf_key, clean_f_i)
    if part_i_table is not None:
        schedule_f_part_i_rows.append(
            part_i_table
        )
    part_ii_table = extract_table_data(
        pages, lines, words, PART_II_HEADER, PART_II_TABLE_NAME, 
        schedule_f_tablemap_df, schedule_f_table_extractor_df, schedule_f_row_extractor_df,
    )
    part_ii_table = postprocess(part_ii_table, job_id, pdf_key, clean_f_ii)
    if part_ii_table is not None:
        schedule_f_part_ii_rows.append(
            part_ii_table
        )
    part_iii_table = extract_table_data(
        pages, lines, words, PART_III_HEADER, PART_III_TABLE_NAME, 
        schedule_f_tablemap_df, schedule_f_table_extractor_df, schedule_f_row_extractor_df,
    )
    part_iii_table = postprocess(part_iii_table, job_id, pdf_key, clean_f_iii)
    if part_iii_table is not None:
        schedule_f_part_iii_rows.append(
            part_iii_table
        )

0
0f908c03383d094f6c1386749189f281d188d5ea0cd64c4e424a5b1aae1650c4
EIN_760733035_YEAR_2009_FORMTYPE_990.pdf

No match for year_formation in L Year of Formation M State of legal domicile
No match for state_of_domicile in M State of legal domicile

1
bcc635fa2b088a72666c3d534d0221a1c1294f2974a6a304679654069e5cbcdc
EIN_363235550_YEAR_2009_FORMTYPE_990.pdf

No match for total_unrelated_biz_revenue in 7a NONE
No match for net_unrelated_biz_taxable_revenue in 7b NONE
No match for benefits_paid_members_expenses in NONE
No match for professional_fundraising_fees_expenses in NONE
No match for grants_foreign_individuals_govt_orgs_total in NONE
No match for benefits_to_members_total in NONE
No match for compensation_disq_persons_total in NONE
No match for fees_for_mgmt_services_total in NONE
No match for fees_for_lobbying_services_total in NONE
No match for fees_for_fundraising_services_total in NONE
No match for fees_for_investment_mgmt_services_total in NONE
No match for royalties_total in NONE
No match for entertainment_travel_govt_officials_total in NONE
No match for interest_total in NONE
No match for payments_affiliates_total in NONE

2
f0545c488bd7ab7e775c25cfa7d050a3ff1f84dea9a3371b8fef236bd3d0624b
EIN_223134995_YEAR_2010_FORMTYPE_990.pdf
3
4f2b05354be9fb6483976694a1ed0494c7c387631c15130bdaaa1a85a1cf4f82
EIN_264320885_YEAR_2009_FORMTYPE_990.pdf
4
1dd5dc37f4e99e27668c769d04d0f72273a6c582d504bf0b88d35d5a4c15c1be
EIN_581943161_YEAR_2009_FORMTYPE_990.pdf
5
5596f51a999ebbd4cb992f490ceaffcddbac9bce532b911997683ae6897c2797
EIN_231352689_YEAR_2009_FORMTYPE_990.pdf

<class 'KeyError'>: 'Bottom (i)'
<class 'KeyError'>: 'Bottom (h)'

6
481a62c75776cc7f62075c1d60c230ea01f2dbc5b6224c65cb73db1728e86b00
EIN_954806856_YEAR_2009_FORMTYPE_990.pdf
7
39d270117e4b6354850551c8237421403da7d2b3f5d06657a28f5a9d07febf17
EIN_521238301_YEAR_2010_FORMTYPE_990.pdf

No match for address in Name of organization AMERICAN LIFE LEAGUE, INC. Doing Business As Number and street (or PO box if mail is not delivered to street addr) Room/suite PO BOX 1350 City, town or country State ZIP code + 4 STAFFORD VA 22555
No match for net_unrelated_biz_taxable_revenue in 7b
No match for grants_us_govt_orgs_mgmt_and_general in expenses
No match for grants_us_govt_orgs_fundraising in expenses
No match for total_number_recipient_foreign_orgs_listed_as_charities in which for or
<class 'KeyError'>: 'Bottom (i)'
<class 'KeyError'>: 'Bottom (h)'

8
9a69ea9d5c8d5397603dbb77d027f4ff4ef9dcdc6609b7a1657f9484529353a0
EIN_521703065_YEAR_2010_FORMTYPE_990.pdf
9
3b9cc21f73f11bef5f2e4c15859661f7f7c9adee8dd6a1f2301099834fdb2926
EIN_611190087_YEAR_2008_FORMTYPE_990.pdf

No match for mission in 1 Briefly describe the organization's mission o most significant activities

10
82588f1ce9ca8cec2fc6b55ec07361b821be6650d1c01db4b9c948b8bf12689f
EIN_113489123_YEAR_2008_FORMTYPE_990.pdf

No match for website in J Website: H(c)
No match for gross_receipts in G Gross receipts $
No match for year_formation in L Year of formation. M State of legal domicile:
No match for state_of_domicile in M State of legal domicile:
No match for total_unrelated_biz_revenue in 7a
No match for net_unrelated_biz_taxable_revenue in 7b
No match for total_fundraising_expenses in b Total fundraising expenses (Part IX, column (D), line 25)

11
f303b69e79844240beccf4fc5b3cecaa3a4f3024a955b2f4a49dd0a81b456649
EIN_582248383_YEAR_2009_FORMTYPE_990.pdf

<class 'KeyError'>: 'Bottom (i)'
<class 'KeyError'>: 'Bottom (h)'

12
a2061356d7999388cbd49b79872883c92ce6c81a7e7820788f92db496cedd620
EIN_630329409_YEAR_2009_FORMTYPE_990.pdf

No match for website in J Web site: www faulkneredu

13
6e417b42fc15148e0489456f5086bbac28a8361d3452a0ddc23314afee5b6313
EIN_620988294_YEAR_2010_FORMTYPE_990.pdf
14
e56d65e73cec9532561c42db4f4dc64c5b968441b4d492444292a9daf3921044
EIN_581954432_YEAR_2010_FORMTYPE_990.pdf
15
68a8d4678de1d3107eff3ae0bfa1acdd6a9787a173b49c1b9e3dfbad7de5b452
EIN_474865647_YEAR_2020_FORMTYPE_990.pdf

<class 'KeyError'>: 'Bottom (i)'
<class 'KeyError'>: 'Bottom (h)'

16
cd689dd466e417d074b1bde48b0928cc4ae08d6cca44be9d15f288fe13adb578
EIN_472208314_YEAR_2020_FORMTYPE_990.pdf
17
2ef32905e24a7a69d5bb4e4ac22448b279cbe84df831d57b17daa69df0219dfd
EIN_262414132_YEAR_2009_FORMTYPE_990.pdf

<class 'KeyError'>: 'Bottom (i)'
<class 'KeyError'>: 'Bottom (h)'

18
b71782c8204cadf98ef57d1e9a6968d35368fc940dede7bc85dff661df77a27e
EIN_411601449_YEAR_2010_FORMTYPE_990.pdf

No match for activities_per_region_totals_number_of_offices in O
<class 'KeyError'>: 'Bottom (i)'
<class 'KeyError'>: 'Bottom (h)'

19
aefc7b65c34db330d8d9f56a1226e116b63ee9be7dbdd4ae4c7bea5d87359f97
EIN_362428692_YEAR_2009_FORMTYPE_990.pdf
20
a5a3cbfcf844be8862bbb61ad46d4c795891ab1143e420db5ed99fc79eeb66c9
EIN_271377148_YEAR_2016_FORMTYPE_990.pdf
21
67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebdb32d3186b19d6a6fd5
EIN_42103580_YEAR_2010_FORMTYPE_990.pdf

<class 'KeyError'>: 'Bottom (i)'
<class 'KeyError'>: 'Bottom (h)'

22
a6529e504df346097da99104a353e977426e018cd5ac33b62cd2dd89c90763c5
EIN_311002913_YEAR_2008_FORMTYPE_990.pdf
23
d1925c2d74adaa3f150ded3ce67dfe7ae3a306f0db0289ad5755a28d801b2b0b
EIN_202408857_YEAR_2010_FORMTYPE_990.pdf

No match for activities_per_region_totals_number_of_offices in Act the
<class 'KeyError'>: 'Bottom (i)'
<class 'KeyError'>: 'Bottom (h)'

24
01d89ee5d14575c1321b2e4d67431d172ba76212b4a266bdaf474275029fd78b
EIN_521830327_YEAR_2009_FORMTYPE_990.pdf

No match for total_fundraising_expenses in b Total fundraising expenses (Part IX, column (D), line 25)
No match for revenue_less_expenses in <43,775.> End of Year

In [7]:
output_data = pd.concat(filing_rows).reset_index(drop=True).set_index("job_id")

In [8]:
output_data.head()

field_name,index,name,address,city,state,zip,website,gross_receipts,year_formation,state_of_domicile,...,total_functional_expense_fundraising,activities_per_region_totals_number_of_offices,activities_per_region_totals_number_of_employees,activities_per_region_totals_total_expenditure,total_number_recipient_foreign_orgs_listed_as_charities,total_number_other_recipient_foreign_orgs_entities,pdf_key,ein,year,filing_id
job_id,,,,,,,,,,,,,,,,,,,,,
0f908c03383d094f6c1386749189f281d188d5ea0cd64c4e424a5b1aae1650c4,0,MAKE WAY PARTNERS INC,PO BOX 26367,BIRMINGHAM,OX,26367,www MAKEWAYPARTNERS ORG,1426217,,,...,4503,,,,,,EIN_760733035_YEAR_2009_FORMTYPE_990.pdf,760733035,2009,760733035_2009
bcc635fa2b088a72666c3d534d0221a1c1294f2974a6a304679654069e5cbcdc,0,THE FEDERALIST SOCIETY FOR LAW AND,"1015 18TH ST., N.W. 425",WASHINGTON,DC,20036,www. FED-SOC.ORG,11033302,1982,IL,...,597789,,,,,,EIN_363235550_YEAR_2009_FORMTYPE_990.pdf,363235550,2009,363235550_2009
f0545c488bd7ab7e775c25cfa7d050a3ff1f84dea9a3371b8fef236bd3d0624b,0,Ron Hutchcraft Ministries Inc,PO Box 400,Harnson,AR,20400,www hutchcraft com,3390,1991,NJ,...,263765,,,,,,EIN_223134995_YEAR_2010_FORMTYPE_990.pdf,223134995,2010,223134995_2010
4f2b05354be9fb6483976694a1ed0494c7c387631c15130bdaaa1a85a1cf4f82,0,FREEDOM 4 24,21430 TIMBERLAKE ROAD STE 101,LYNCHBURG,VA,24502,freedom424 org,61857,2009,VA,...,669,,,,,,EIN_264320885_YEAR_2009_FORMTYPE_990.pdf,264320885,2009,264320885_2009
1dd5dc37f4e99e27668c769d04d0f72273a6c582d504bf0b88d35d5a4c15c1be,0,GEORGIA PUBLIC POLICY FOUNDTION,6100 LAKE FORREST DR,LAKE FORREST,GA,30328,www GPPF org,583209,1991,GA,...,14409,,,,,,EIN_581943161_YEAR_2009_FORMTYPE_990.pdf,581943161,2009,581943161_2009

In [9]:
def clean(x):
    x = str(x)
    x = re.sub(r"\.0\b", "", x)
    x = re.sub("\D", "", x)
    return x

In [10]:
def compare_output(to_validate, to_compare, col):
    return pd.DataFrame(
        {
            "extracted": to_validate.loc[col].loc[
                lambda series: series != to_compare.loc[col]
            ],
            "expected": to_compare.loc[col].loc[
                lambda series: series != to_validate.loc[col]
            ],
        }
    )

In [11]:
to_compare = validation_data.set_index("pdf_key").applymap(clean)
to_validate = output_data[validation_data.columns].set_index("pdf_key").applymap(clean)

for col in to_validate.index:
    validated = compare_output(to_validate, to_compare, col)
    if validated.any().any():
        print(col)
        print(f"{validated.shape[0]} mismatched items.")
        print(validated)
        print("-"*79)

EIN_113489123_YEAR_2008_FORMTYPE_990.pdf
2 mismatched items.
              extracted expected
total_revenue      1017  1017506
travel_total        137    13710
-------------------------------------------------------------------------------
EIN_582248383_YEAR_2009_FORMTYPE_990.pdf
1 mismatched items.
                                                   extracted expected
total_number_other_recipient_foreign_orgs_entities        10
-------------------------------------------------------------------------------

In [12]:
assert False

AssertionError:

## BREAK

In [13]:
pd.concat(schedule_f_part_i_rows).head(50)[
    [
        "region", "number_offices", "number_employees", 
        "activities_conducted", "specific_type_activity", 
        "total_expenditures", "pdf_key"
    ]
]

field,region,number_offices,number_employees,activities_conducted,specific_type_activity,total_expenditures,pdf_key
0,Europe,1,0,theological training,offers a Th M degree,6661,EIN_231352689_YEAR_2009_FORMTYPE_990.pdf
1,Totals,1,0,,,6661,EIN_231352689_YEAR_2009_FORMTYPE_990.pdf
0,(1),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
1,(2),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
2,(3),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
3,(4),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
4,(5),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
5,(6),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
6,(7),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
7,(8),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
8,(9),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
9,(10),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
10,(11),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
11,(12),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
12,(13),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
13,(14),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
14,(15),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
15,(16),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
16,(17),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
0,CENTRAL AMERICA,2,7,PROGRAM SERVICES,HOSPITAL OPERATIONS,1747524,EIN_582248383_YEAR_2009_FORMTYPE_990.pdf
1,SOUTH ASIA,1,6,PROGRAM SERVICES,HOSPITAL OPERATIONS,1104403,EIN_582248383_YEAR_2009_FORMTYPE_990.pdf
2,SUB-SAHARAN AFRICA,6,23,PROGRAM SERVICES,HOSPITAL CONSTRUCTION,4231711,EIN_582248383_YEAR_2009_FORMTYPE_990.pdf
3,,,,PROGRAM,,,EIN_582248383_YEAR_2009_FORMTYPE_990.pdf
4,EUROPE,1,1,DEVELOPMENT/FUNDRAISING,,345968,EIN_582248383_YEAR_2009_FORMTYPE_990.pdf
5,Totals,10,37,,,7.429.606,EIN_582248383_YEAR_2009_FORMTYPE_990.pdf
0,,,,,,,EIN_474865647_YEAR_2020_FORMTYPE_990.pdf
0,Sub-Saraha Africa,1,400,"Operation of Africa Mercy hospital ship, which...",Preventative & curative medical services,15444553,EIN_262414132_YEAR_2009_FORMTYPE_990.pdf
1,Sub-Sahara Africa,2,10,Operation of two medical clinics in Sierra Leone,Preventative & curative medical services to th...,560012,EIN_262414132_YEAR_2009_FORMTYPE_990.pdf
2,Totals,3,410,,,16004565,EIN_262414132_YEAR_2009_FORMTYPE_990.pdf
0,Sub-Saharan Africa,0,0,Grantmaking,FOOD DISTRIBUTIO N,39022,EIN_411601449_YEAR_2010_FORMTYPE_990.pdf
1,Central America and the Caribbean,0,0,Grantmaking,FOOD DISTRIBUTIO N,19511,EIN_411601449_YEAR_2010_FORMTYPE_990.pdf
2,Totals,0,0,,,58533,EIN_411601449_YEAR_2010_FORMTYPE_990.pdf
0,See Add'IData,,,,,,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
1,Totals,25,305,,,96031393,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
2,Central merica and the Carbbear,,,Fundraising,,481,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
3,Central merica the Caribbean,,,Grantmaking,,303788,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
4,Central merica the anbbea,,,Program services,Academic Support,20973,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
5,:entral America the :aribbean,,,Program Services,Instruction,58431,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
6,entral merica the Caribbear,,,Program services,Research and other academic activity,228975,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
7,Central merica the Taribbean,,,Investments,,,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
8,East Asia and Pacific,,,Fundraising,,3593,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
9,East Asia and Pacific,,,Grantmaking,,1269299,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
10,East Asia and Pacific,,,rogr services,Service Centers,118026,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
11,East Asia and Pacific,,,rogram Services,Academic Support,461230,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
12,East Asia and the Pacific,,,Progr services,Institutiona support,71217,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
13,East Asia and Pacific,,,Program Services,instruction,5628477,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
14,East Asia and Pacific,,44,Progr Services,Research other Academic Activity,6420156,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
15,East Asia and Pacific,,,Programservices,Student services,22043,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
16,East Asia and Pacific,,,Investments,,,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
17,Europe Including Iceland & Greenland),,,Fundraising,,59246,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf

In [ ]:
pd.concat(schedule_f_part_i_rows).tail(50)

In [ ]:
pd.concat(schedule_f_part_ii_rows).iloc[:50]

In [ ]:
pd.concat(schedule_f_part_iii_rows).iloc[:50]

In [89]:
table_test_df = open_df(bucket, "67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebdb32d3186b19d6a6fd5")

In [90]:
test_lines = table_test_df.loc[
    table_test_df["BlockType"] == "LINE"
]
test_words = table_test_df.loc[
    table_test_df["BlockType"] == "WORD"
]
test_pages = test_lines.groupby("Page")

In [91]:
HEADER = PART_I_HEADER
NAME = PART_I_TABLE_NAME

In [92]:
table_pages = find_table_pages(
    test_pages["Text"].agg(lambda words: " ".join(words)),
    HEADER,
)

In [93]:
table_pages

Page
26    26
30    30
Name: Page, dtype: int64

In [94]:
TEST_INDEX = 1
TEST_PAGE = 30

In [95]:
tablemaps = pd.DataFrame(
    {
        "page": table_pages,
        "tablemap": table_pages.map(
            lambda page: create_tablemap(
                test_lines, schedule_f_tablemap_df, page, NAME
            ).dropna()
        ),
    }
)

In [97]:
tablemaps["tablemap"].iloc[TEST_INDEX]

                                  Top      Left  Top_Default  Left_Default
Item
(a) Region                   0.056952  0.063677         0.05           0.0
(b) Number of offices        0.060424  0.167132         0.05           0.0
(c) Number of employees      0.060752  0.254655         0.05           0.0
(d) Activities conducted     0.060764  0.343045         0.05           0.0
(e) Specific type            0.056969  0.480311         0.05           0.0
(f) Total Expenditures       0.056891  0.612973         0.05           0.0
Schedule F, Part I, Item 3a  0.716738  0.006047         0.00           0.0
Bottom (d)                   0.077065  0.348286         0.00           0.0
Top Left Corner              0.000000  0.000000         0.00           0.0
Bottom Right Corner          1.000000  1.000000         1.00           1.0

In [98]:
row_extractors = schedule_f_row_extractor_df.loc[
    schedule_f_row_extractor_df["table"] == NAME
]
table_data = schedule_f_table_extractor_df.loc[
    schedule_f_table_extractor_df["table"] == NAME
].iloc[0]

In [99]:
rows = tablemaps.assign(
    extractor=tablemaps["tablemap"].map(
        lambda tablemap: TableExtractor(
            header_top_label=table_data["header_top"],
            top_label=table_data["table_top"],
            bottom_label=table_data["table_bottom"],
            tablemap=tablemap,
            fields=row_extractors["field"],
            field_labels=row_extractors["col_left"]
        )
    )
)

In [100]:
test_extractor = rows["extractor"].iloc[TEST_INDEX]

In [101]:
test_extractor.get_col_spans(test_words, TEST_PAGE)

0                    (0.0, 0.1671319603919983)
1    (0.1671319603919983, 0.25465500354766846)
2    (0.25465500354766846, 0.3363614082336426)
3     (0.3363614082336426, 0.4708361327648163)
4     (0.4708361327648163, 0.6129726767539978)
5                    (0.6129726767539978, 1.0)
dtype: object

In [102]:
test_extractor.extract_rows(test_words, TEST_PAGE).head(50)

field,region,number_offices,number_employees,activities_conducted,specific_type_activity,total_expenditures
0,Central merica and the Carbbear,,,Fundraising,,481
1,Central merica the Caribbean,,,Grantmaking,,"303,788"
2,Central merica the anbbea,,,Program services,Academic Support,"20,973"
3,:entral America the :aribbean,,,Program Services,Instruction,"58,431"
4,entral merica the Caribbear,,,Program services,Research and other academic activity,"228,975"
5,Central merica the Taribbean,,,Investments,,
6,East Asia and Pacific,,,Fundraising,,"3,593"
7,East Asia and Pacific,,,Grantmaking,,"1,269,299"
8,East Asia and Pacific,,,rogr services,Service Centers,"118,026"
9,East Asia and Pacific,,,rogram Services,Academic Support,"461,230"
10,East Asia and the Pacific,,,Progr services,Institutiona support,"71,217"
11,East Asia and Pacific,,,Program Services,instruction,"5,628,477"
12,East Asia and Pacific,,44,Progr Services,Research other Academic Activity,"6,420,156"
13,East Asia and Pacific,,,Programservices,Student services,"22,043"
14,East Asia and Pacific,,,Investments,,
15,Europe Including Iceland & Greenland),,,Fundraising,,"59,246"
16,Iceland,,,Grantmaking,,"5,351,568"
17,Europe Including Iceland freenland,,,Program Services,Service Centers,"245,139"
18,Europe Including Iceland 8 Greenland,,,Progr Services,Academic Support,"689,566"
19,cluding Iceland & Greenland),,,Progr Services,institutional Support,"80,288"
20,Europe Including Iceland ;reenland),,,Program Services,Instruction,"4,676,915"
21,urope including Icelan & Greenland),5,15,Progr Services,Research other academic activity,"8,736,896"
22,urope cluding Iceland Greenland),,,Prog Services,Student Services,"321,429"
23,Europe :luding Icelan & Greenland,,,vestments,,
24,Middle East and North Africa,1,2,Grantmaking,,"698,609"
25,Middle East and North Africa,,,Progr services,Service centers,"26,658"
26,Middle East and North Africa,,,Progr services,Academic support,"31,354"
27,Middle East and North Africa,,,Programservices,Institutional support,"7,637"
28,Middle East and North Africa,,,Progr Services,Instruction,"674,753"
29,Middle East and North Africa,,,Progr Services,Research other academicactivity,"325,683"
30,Middle East and North Africa,,,Progr Services,Student Services,"80,648"
31,Middle East and North Africa,,,Investment,,
32,North merica,,,Fundraising,,"33,431"
33,North merica,,,Grantmaking,,"676,647"
34,North merica,,,Prog Services,Service Centers,"83,348"
35,North merica,,,Progr Services,Academic Support,"400,150"
36,North menca,,,Progr Services,institutional support,"103,220"
37,North merica,,,Progi Services,Instruction,"857,731"
38,North America,,1,Progr Services,Research other academic activity,"858,957"
39,North menca,,,Progr Services,Student Services,"24,225"
40,North menca,,,Investments,,
41,Russia Newly Independ States,,,Grantmaking,,"243,041"
42,Russia Newly Independ States,,,Progr services,Service Centers,"1,950"
43,Russia & Newly Independer States,,,Programservices,Academic Support,"40,022"
44,tussia & Newly Independe States,,,Progr Services,Instruction,"87,961"
45,Russia Newly Independe States,,,Program: Services,Research other academic activity,"111,296"
46,Russia & Newly Independe States,,,Progr Services,Student Services,600
47,Russia & Newly Independer States,,,Investments,,
48,South America,,,Fundraising,,"4,191"
49,South America,,,Grantmaking,,"503,476"

In [103]:
table_words = test_extractor.get_table_words(test_words, TEST_PAGE)

In [104]:
table_words

,BlockType,Confidence,Geometry,Page,PageClassification,Relationships,Text,TextType,Polygon,Height,Left,Top,Right,Bottom,Midpoint_X,Midpoint_Y,Width,Children,Line_No,File
Id,,,,,,,,,,,,,,,,,,,,
6f17b9fd-5937-4bf0-a004-63f84ada93e7,WORD,96.340424,{'BoundingBox': {'Height': 0.00317446910776197...,30,None,None,Central,PRINTED,"[{'X': 0.01150417048484087, 'Y': 0.08279873430...",0.003174,0.011504,0.082799,0.047105,0.085973,0.029305,0.084386,0.035601,None,12,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...
33733a90-daf3-45cd-be33-db2b819aa02c,WORD,66.090393,{'BoundingBox': {'Height': 0.00327668758109211...,30,None,None,merica,PRINTED,"[{'X': 0.051776643842458725, 'Y': 0.0828743427...",0.003277,0.051777,0.082874,0.091312,0.086151,0.071544,0.084513,0.039535,None,12,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...
b6c12310-3590-4462-8871-7b8cb2f8c636,WORD,87.114311,{'BoundingBox': {'Height': 0.00299885566346347...,30,None,None,and,PRINTED,"[{'X': 0.09316416829824448, 'Y': 0.08286353200...",0.002999,0.093164,0.082864,0.111959,0.085862,0.102562,0.084363,0.018795,None,12,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...
580af183-1480-42c9-b94d-1e5382641f7b,WORD,96.795914,{'BoundingBox': {'Height': 0.00291400658898055...,30,None,None,the,PRINTED,"[{'X': 0.11327695846557617, 'Y': 0.08304906636...",0.002914,0.113277,0.083049,0.131671,0.085963,0.122474,0.084506,0.018394,None,12,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...
9cc288c7-b2db-49c7-8812-3ae88c37edae,WORD,88.749054,{'BoundingBox': {'Height': 0.00323019921779632...,30,None,None,Fundraising,PRINTED,"[{'X': 0.3407772183418274, 'Y': 0.082760512828...",0.003230,0.340777,0.082761,0.393868,0.085991,0.367323,0.084376,0.053091,None,12,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215541fd-d73a-4af3-ad80-9e542043cc5b,WORD,87.614494,{'BoundingBox': {'Height': 0.00374788418412208...,30,None,None,"5,575,512",PRINTED,"[{'X': 0.6699190735816956, 'Y': 0.695733010768...",0.003748,0.669919,0.695733,0.726750,0.699481,0.698334,0.697607,0.056830,None,75,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...
0ea0cc52-4e14-468d-8eaa-6e440e864390,WORD,96.324692,{'BoundingBox': {'Height': 0.00321036786772310...,30,None,None,Saharan,PRINTED,"[{'X': 0.03040502592921257, 'Y': 0.70516633987...",0.003210,0.030405,0.705166,0.076196,0.708377,0.053300,0.706772,0.045791,None,76,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...
10d631e0-e89b-4b97-81c8-46375a4340b1,WORD,93.906059,{'BoundingBox': {'Height': 0.00303548178635537...,30,None,None,Africa,PRINTED,"[{'X': 0.07765699923038483, 'Y': 0.70513230562...",0.003035,0.077657,0.705132,0.106436,0.708168,0.092047,0.706650,0.028779,None,76,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...
d9924ebb-c931-4d75-ba5e-b1a1da5e2e55,WORD,96.167206,{'BoundingBox': {'Height': 0.00329231773503124...,30,None,None,Investments,PRINTED,"[{'X': 0.3381441533565521, 'Y': 0.705333352088...",0.003292,0.338144,0.705333,0.401230,0.708626,0.369687,0.706980,0.063086,None,76,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...
fceb6613-8c21-4c76-8695-ba2a00954a49,WORD,73.148239,{'BoundingBox': {'Height': 0.00352067057974636...,30,None,None,academic activity,PRINTED,"[{'X': 0.4713750183582306, 'Y': 0.699789404869...",0.003521,0.471375,0.699789,0.566074,0.703310,0.518724,0.701550,0.094699,None,76,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...

In [105]:
word_clusters = cluster_words(table_words, table_words["Height"].min(), "Midpoint_Y")
[" ".join(word.sort_values(by="Left")["Text"].values) for word in word_clusters]

['Central merica and the Fundraising 481',
 'Carbbear',
 'Central merica the Grantmaking 303,788',
 'Caribbean',
 'Central merica the Program services Academic Support 20,973',
 'anbbea',
 ':entral America the Program Services Instruction 58,431',
 ':aribbean',
 'entral merica the Program services Research and other 228,975',
 'Caribbear academic activity',
 'Central merica the Investments',
 'Taribbean',
 'East Asia and Pacific Fundraising 3,593',
 'East Asia and Pacific Grantmaking 1,269,299',
 'East Asia and Pacific rogr services Service Centers 118,026',
 'East Asia and Pacific rogram Services Academic Support 461,230',
 'East Asia and the Pacific Progr services Institutiona support 71,217',
 'East Asia and Pacific Program Services instruction 5,628,477',
 'East Asia and Pacific 44 Progr Services Research other 6,420,156',
 'Academic Activity',
 'East Asia and Pacific Programservices Student services 22,043',
 'East Asia and Pacific Investments',
 'Europe Including Iceland & Fundraising 59,246',
 'Greenland)',
 'Iceland Grantmaking 5,351,568',
 'Europe Including Iceland Program Services Service Centers 245,139',
 'freenland',
 'Europe Including Iceland 8 Progr Services Academic Support 689,566',
 'Greenland',
 'cluding Iceland & Progr Services institutional Support 80,288',
 'Greenland)',
 'Europe Including Iceland Program Services Instruction 4,676,915',
 ';reenland)',
 'urope including Icelan & 5 15 Progr Services Research other 8,736,896',
 'Greenland) academic activity',
 'urope cluding Iceland Prog Services Student Services 321,429',
 'Greenland)',
 'Europe :luding Icelan & vestments',
 'Greenland',
 'Middle East and North Africa 1 2 Grantmaking 698,609',
 'Middle East and North  Africa Progr services Service centers 26,658',
 'Middle East and North Africa Progr services Academic support 31,354',
 'Middle East and North Africa Programservices Institutional support 7,637',
 'Middle East and North Africa Progr Services Instruction 674,753',
 'Middle East and North Africa Progr Services Research other 325,683',
 'academicactivity',
 'Middle East and North Africa Progr Services Student Services 80,648',
 'Middle East and North Africa Investment',
 'North merica Fundraising 33,431',
 'North merica Grantmaking 676,647',
 'North merica Prog Services Service Centers 83,348',
 'North merica Progr Services Academic Support 400,150',
 'North menca Progr Services institutional support 103,220',
 'North merica Progi Services Instruction 857,731',
 'North America 1 Progr Services Research other 858,957',
 'academic activity',
 'North menca Progr Services Student Services 24,225',
 'North menca Investments',
 'Russia Newly Grantmaking 243,041',
 'Independ States',
 'Russia Newly Progr services Service Centers 1,950',
 'Independ States',
 'Russia & Newly Programservices Academic Support 40,022',
 'Independer States',
 'tussia & Newly Progr Services Instruction 87,961',
 'Independe States',
 'Russia Newly Program: Services Research other 111,296',
 'Independe States academic activity',
 'Russia & Newly Progr Services Student Services 600',
 'Independe States',
 'Russia & Newly Investments',
 'Independer States',
 'South America Fundraising 4,191',
 'South America Grantmaking 503,476',
 'South America Progr Services Service centers 58,695',
 'South America 14 Progran Services Academic support 1,018,493',
 'South merica Program services Instruction 592,699',
 'South America Progr Services Research other 939,544',
 'academic activity',
 'South America Progr Services Student Services 8,557',
 'South Amenca Investment',
 'South Fundraising 1.039',
 'South Asia Grantmaking 695,743',
 'South Progr m services Academic support 96,447',
 'South Asia Progr Services institutional support 403',
 'South Asia Programservices instruction 920.156',
 'South Asia 1 10 Program Services Research other 1,119,706',
 'academic activity',
 'South Progr amservices student services 12,382',
 'South Grantmaking',
 'South A: INVESTMENTS',
 'Sub- Saharan Africa Fundraising 1,642',
 'Sub- Saharan Africa 4 219 Grantmaking 43,431,884',
 'Saharan Africa Progr Services Services centers 272',
 'Sub- Saharan Africa Progr Services Academic support 132,752',
 'Sub- Saharan Africa Progr services instruction 782,143',
 'Sub- Saharan Africa Program services Research other 5,575,512',
 'academic activity',
 'Saharan Africa Investments']

In [106]:
def columnize(word_cluster, col_spans):
    return col_spans.map(
        lambda span: word_cluster.loc[
            (word_cluster["Left"].between(*span, inclusive="left"))
        ]
    )


def get_cluster_coords(cluster):
    cluster_coords = {
        "Left": cluster["Left"].min(),
        "Right": cluster["Right"].max(),
        "Height": cluster["Height"].max(),
        "Midpoint_X": cluster["Midpoint_X"].median(),
        "Midpoint_Y": cluster["Midpoint_Y"].median(),
        "Top": cluster["Top"].min(),
        "Bottom": cluster["Bottom"].min(),
    }
    cluster_coords["Width"] = cluster_coords["Right"] - cluster_coords["Left"]
    return cluster_coords


def combine_row(row):
    return pd.Series([
        line.map(
            lambda x: x.sort_values(
                by="Left"
            ).reset_index(drop=True)["Text"].fillna("")
        ).agg(
            lambda x: " ".join(x.values)
        ) + " "
        for line in row
    ]).sum().str.strip()

col_spans = test_extractor.get_col_spans(test_words, TEST_PAGE)

col_spans

0                    (0.0, 0.1671319603919983)
1    (0.1671319603919983, 0.25465500354766846)
2    (0.25465500354766846, 0.3363614082336426)
3     (0.3363614082336426, 0.4708361327648163)
4     (0.4708361327648163, 0.6129726767539978)
5                    (0.6129726767539978, 1.0)
dtype: object

In [107]:
y_tol = table_words["Height"].max() * 1.5
x_tol = table_words["Width"].median()
sum_y_delta = y_tol
columnized = columnize(word_clusters[0], col_spans)
last_col_coords = pd.DataFrame.from_records(
    columnized.map(
        get_cluster_coords
    )
)
print(y_tol)
rows = []
current_row = [columnized]
print(" ".join(word_clusters[0].sort_values(by="Left")["Text"].values))
for count, cluster in enumerate(word_clusters[1:]):
    print("-"*50)
    print(" ".join(cluster.sort_values(by="Left")["Text"].values))
    columnized = columnize(cluster, col_spans)
    col_coords = pd.DataFrame.from_records(columnized.map(get_cluster_coords))
    nonempty = col_coords.dropna().index.to_series()
    last_nonempty = last_col_coords.dropna().index.to_series()
    delta_cols = (~nonempty.isin(last_nonempty)).any()
    y_delta = (
        col_coords["Midpoint_Y"].median()
        - last_col_coords["Midpoint_Y"].median()
    )
    sum_y_delta += y_delta
    mean_y_delta = sum_y_delta / (count + 2)
    min_y_delta = mean_y_delta*0.75
    print("Y Delta:", y_delta)
    print("Min Y Delta:", min_y_delta)
    print("More cols detected", delta_cols)
    print("Y tolerance exceeded", (y_delta > y_tol) and (y_delta > min_y_delta))
    if (delta_cols or (y_delta > y_tol)) and (y_delta > min_y_delta):
        combined_row = combine_row(current_row)
        print(combined_row)
        rows.append(combined_row)
        current_row = [columnized]
    else:
        current_row.append(columnized)
    last_col_coords = col_coords
print("-"*50)
combined_row = combine_row(current_row)
print(combined_row)
rows.append(combined_row)

0.007117736851796508
Central merica and the Fundraising 481
--------------------------------------------------
Carbbear
Y Delta: 0.004082381725311279
Min Y Delta: 0.00420004446641542
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
Central merica the Grantmaking 303,788
Y Delta: 0.005004454404115677
Min Y Delta: 0.004051143245305866
More cols detected True
Y tolerance exceeded False
0    Central merica and the Carbbear
1
2
3                        Fundraising
4
5                                481
dtype: object
--------------------------------------------------
Caribbean
Y Delta: 0.004541680216789246
Min Y Delta: 0.003889922474627383
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
Central merica the Program services Academic Support 20,973
Y Delta: 0.004575680010020733
Min Y Delta: 0.0037982899812050164
More cols detected True
Y tolerance exceeded False
0    Central merica the Caribbean
1
2
3                     Grantmaking
4
5                         303,788
dtype: object
--------------------------------------------------
anbbea
Y Delta: 0.003109329380095005
Min Y Delta: 0.003553907823516056
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
:entral America the Program Services Instruction 58,431
Y Delta: 0.005581492558121681
Min Y Delta: 0.003644223765669657
More cols detected True
Y tolerance exceeded False
0    Central merica the anbbea
1
2
3             Program services
4             Academic Support
5                       20,973
dtype: object
--------------------------------------------------
:aribbean
Y Delta: 0.004166198894381523
Min Y Delta: 0.0035792769413092174
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
entral merica the Program services Research and other 228,975
Y Delta: 0.00479576550424099
Min Y Delta: 0.003581226628739387
More cols detected True
Y tolerance exceeded False
0    :entral America the :aribbean
1
2
3                 Program Services
4                      Instruction
5                           58,431
dtype: object
--------------------------------------------------
Caribbear academic activity
Y Delta: 0.004054183140397072
Min Y Delta: 0.0035271677013952282
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
Central merica the Investments
Y Delta: 0.005131267011165619
Min Y Delta: 0.0035563752065751364
More cols detected True
Y tolerance exceeded False
0             entral merica the Caribbear
1
2
3                        Program services
4    Research and other academic activity
5                                 228,975
dtype: object
--------------------------------------------------
Taribbean
Y Delta: 0.004175163805484772
Min Y Delta: 0.0035209583438700065
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
East Asia and Pacific Fundraising 3,593
Y Delta: 0.004716828465461731
Min Y Delta: 0.0035222401135027977
More cols detected True
Y tolerance exceeded False
0    Central merica the Taribbean
1
2
3                     Investments
4
5
dtype: object
--------------------------------------------------
East Asia and Pacific Grantmaking 1,269,299
Y Delta: 0.008491195738315582
Min Y Delta: 0.0037255370199480754
More cols detected False
Y tolerance exceeded True
0    East Asia and Pacific
1
2
3              Fundraising
4
5                    3,593
dtype: object
--------------------------------------------------
East Asia and Pacific rogr services Service Centers 118,026
Y Delta: 0.008503006771206856
Min Y Delta: 0.003902318223845214
More cols detected True
Y tolerance exceeded True
0    East Asia and Pacific
1
2
3              Grantmaking
4
5                1,269,299
dtype: object
--------------------------------------------------
East Asia and Pacific rogram Services Academic Support 461,230
Y Delta: 0.00837419368326664
Min Y Delta: 0.0040509636637580115
More cols detected False
Y tolerance exceeded True
0    East Asia and Pacific
1
2
3            rogr services
4          Service Centers
5                  118,026
dtype: object
--------------------------------------------------
East Asia and the Pacific Progr services Institutiona support 71,217
Y Delta: 0.00870838575065136
Min Y Delta: 0.004196865172536276
More cols detected False
Y tolerance exceeded True
0    East Asia and Pacific
1
2
3          rogram Services
4         Academic Support
5                  461,230
dtype: object
--------------------------------------------------
East Asia and Pacific Program Services instruction 5,628,477
Y Delta: 0.008701587095856667
Min Y Delta: 0.004326272125278289
More cols detected False
Y tolerance exceeded True
0    East Asia and the Pacific
1
2
3               Progr services
4         Institutiona support
5                       71,217
dtype: object
--------------------------------------------------
East Asia and Pacific 44 Progr Services Research other 6,420,156
Y Delta: 0.008568834513425827
Min Y Delta: 0.004436817060004135
More cols detected True
Y tolerance exceeded True
0    East Asia and Pacific
1
2
3         Program Services
4              instruction
5                5,628,477
dtype: object
--------------------------------------------------
Academic Activity
Y Delta: 0.0034013204276561737
Min Y Delta: 0.004342525723041035
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
East Asia and Pacific Programservices Student services 22,043
Y Delta: 0.005707360804080963
Min Y Delta: 0.0043395730982800675
More cols detected True
Y tolerance exceeded False
0               East Asia and Pacific
1
2                                  44
3                      Progr Services
4    Research other Academic Activity
5                           6,420,156
dtype: object
--------------------------------------------------
East Asia and Pacific Investments
Y Delta: 0.008621994405984879
Min Y Delta: 0.004436251403107731
More cols detected False
Y tolerance exceeded True
0    East Asia and Pacific
1
2
3          Programservices
4         Student services
5                   22,043
dtype: object
--------------------------------------------------
Europe Including Iceland & Fundraising 59,246
Y Delta: 0.008460424840450287
Min Y Delta: 0.004519254326030774
More cols detected True
Y tolerance exceeded True
0    East Asia and Pacific
1
2
3              Investments
4
5
dtype: object
--------------------------------------------------
Greenland)
Y Delta: 0.004447147250175476
Min Y Delta: 0.004469925414014142
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
Iceland Grantmaking 5,351,568
Y Delta: 0.004569903016090393
Min Y Delta: 0.004428225487936288
More cols detected True
Y tolerance exceeded False
0    Europe Including Iceland & Greenland)
1
2
3                              Fundraising
4
5                                   59,246
dtype: object
--------------------------------------------------
Europe Including Iceland Program Services Service Centers 245,139
Y Delta: 0.008807871490716934
Min Y Delta: 0.004511982339094035
More cols detected True
Y tolerance exceeded True
0        Iceland
1
2
3    Grantmaking
4
5      5,351,568
dtype: object
--------------------------------------------------
freenland
Y Delta: 0.004127670079469681
Min Y Delta: 0.004459529384298043
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
Europe Including Iceland 8 Progr Services Academic Support 689,566
Y Delta: 0.004780670627951622
Min Y Delta: 0.004428314155250388
More cols detected True
Y tolerance exceeded False
0    Europe Including Iceland freenland
1
2
3                      Program Services
4                       Service Centers
5                               245,139
dtype: object
--------------------------------------------------
Greenland
Y Delta: 0.003936121240258217
Min Y Delta: 0.004377409906110501
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
cluding Iceland & Progr Services institutional Support 80,288
Y Delta: 0.005042549222707748
Min Y Delta: 0.004357559973141178
More cols detected True
Y tolerance exceeded False
0    Europe Including Iceland 8 Greenland
1
2
3                          Progr Services
4                        Academic Support
5                                 689,566
dtype: object
--------------------------------------------------
Greenland)
Y Delta: 0.004165809601545334
Min Y Delta: 0.004317779238561108
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
Europe Including Iceland Program Services Instruction 4,676,915
Y Delta: 0.005168888717889786
Min Y Delta: 0.0043039944666816154
More cols detected True
Y tolerance exceeded False
0    cluding Iceland & Greenland)
1
2
3                  Progr Services
4           institutional Support
5                          80,288
dtype: object
--------------------------------------------------
;reenland)
Y Delta: 0.003536742180585861
Min Y Delta: 0.004253950896037912
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
urope including Icelan & 5 15 Progr Services Research other 8,736,896
Y Delta: 0.005075652152299881
Min Y Delta: 0.004240797608337529
More cols detected True
Y tolerance exceeded False
0    Europe Including Iceland ;reenland)
1
2
3                       Program Services
4                            Instruction
5                              4,676,915
dtype: object
--------------------------------------------------
Greenland) academic activity
Y Delta: 0.004095848649740219
Min Y Delta: 0.004207400147736604
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
urope cluding Iceland Prog Services Student Services 321,429
Y Delta: 0.004857979714870453
Min Y Delta: 0.004191735832137056
More cols detected True
Y tolerance exceeded False
0    urope including Icelan & Greenland)
1                                      5
2                                     15
3                         Progr Services
4       Research other academic activity
5                              8,736,896
dtype: object
--------------------------------------------------
Greenland)
Y Delta: 0.004317648708820343
Min Y Delta: 0.004165965580771602
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
Europe :luding Icelan & vestments

Y Delta: 0.004598274827003479
Min Y Delta: 0.0041470903318105755
More cols detected True
Y tolerance exceeded False
0    urope cluding Iceland Greenland)
1
2
3                       Prog Services
4                    Student Services
5                             321,429
dtype: object
--------------------------------------------------
Greenland
Y Delta: 0.004046544432640076
Min Y Delta: 0.004118572844443127
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
Middle East and North Africa 1 2 Grantmaking 698,609
Y Delta: 0.005023092031478882
Min Y Delta: 0.0041097914989222765
More cols detected True
Y tolerance exceeded False
0    Europe :luding Icelan & Greenland
1
2
3                            vestments
4
5
dtype: object
--------------------------------------------------
Middle East and North  Africa Progr services Service centers 26,658
Y Delta: 0.008568055927753448
Min Y Delta: 0.004166285412261126
More cols detected True
Y tolerance exceeded True
0    Middle East and North Africa
1                               1
2                               2
3                     Grantmaking
4
5                         698,609
dtype: object
--------------------------------------------------
Middle East and North Africa Progr services Academic support 31,354
Y Delta: 0.009142808616161346
Min Y Delta: 0.004230352580114933
More cols detected False
Y tolerance exceeded True
0    Middle East and North  Africa
1
2
3                   Progr services
4                  Service centers
5                           26,658
dtype: object
--------------------------------------------------
Middle East and North Africa Programservices Institutional support 7,637
Y Delta: 0.008961252868175507
Min Y Delta: 0.0042882732096734604
More cols detected False
Y tolerance exceeded True
0    Middle East and North Africa
1
2
3                  Progr services
4                Academic support
5                          31,354
dtype: object
--------------------------------------------------
Middle East and North Africa Progr Services Instruction 674,753
Y Delta: 0.008749637752771378
Min Y Delta: 0.004339954007512212
More cols detected False
Y tolerance exceeded True
0    Middle East and North Africa
1
2
3                 Programservices
4           Institutional support
5                           7,637
dtype: object
--------------------------------------------------
Middle East and North Africa Progr Services Research other 325,683
Y Delta: 0.008932065218687057
Min Y Delta: 0.004392378338767836
More cols detected False
Y tolerance exceeded True
0    Middle East and North Africa
1
2
3                  Progr Services
4                     Instruction
5                         674,753
dtype: object
--------------------------------------------------
academicactivity
Y Delta: 0.004417605698108673
Min Y Delta: 0.004368918033002917
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
Middle East and North Africa Progr Services Student Services 80,648
Y Delta: 0.004670079797506332
Min Y Delta: 0.004350484880133274
More cols detected True
Y tolerance exceeded False
0       Middle East and North Africa
1
2
3                     Progr Services
4    Research other academicactivity
5                            325,683
dtype: object
--------------------------------------------------
Middle East and North Africa Investment
Y Delta: 0.008715946227312088
Min Y Delta: 0.0043960364382655825
More cols detected False
Y tolerance exceeded True
0    Middle East and North Africa
1
2
3                  Progr Services
4                Student Services
5                          80,648
dtype: object
--------------------------------------------------
North merica Fundraising 33,431
Y Delta: 0.008915729820728302
Min Y Delta: 0.00444278666127131
More cols detected True
Y tolerance exceeded True
0    Middle East and North Africa
1
2
3                      Investment
4
5
dtype: object
--------------------------------------------------
North merica Grantmaking 676,647
Y Delta: 0.008675552904605865
Min Y Delta: 0.0044840642216149714
More cols detected False
Y tolerance exceeded True
0    North merica
1
2
3     Fundraising
4
5          33,431
dtype: object
--------------------------------------------------
North merica Prog Services Service Centers 83,348
Y Delta: 0.008803121745586395
Min Y Delta: 0.00452559906646938
More cols detected True
Y tolerance exceeded True
0    North merica
1
2
3     Grantmaking
4
5         676,647
dtype: object
--------------------------------------------------
North merica Progr Services Academic Support 400,150
Y Delta: 0.00865539163351059
Min Y Delta: 0.004563405694520603
More cols detected False
Y tolerance exceeded True
0       North merica
1
2
3      Prog Services
4    Service Centers
5             83,348
dtype: object
--------------------------------------------------
North menca Progr Services institutional support 103,220
Y Delta: 0.00839102640748024
Min Y Delta: 0.004596044640012858
More cols detected False
Y tolerance exceeded True
0        North merica
1
2
3      Progr Services
4    Academic Support
5             400,150
dtype: object
--------------------------------------------------
North merica Progi Services Instruction 857,731
Y Delta: 0.008715257048606873
Min Y Delta: 0.004631977939021049
More cols detected False
Y tolerance exceeded True
0              North menca
1
2
3           Progr Services
4    institutional support
5                  103,220
dtype: object
--------------------------------------------------
North America 1 Progr Services Research other 858,957
Y Delta: 0.008734192699193954
Min Y Delta: 0.0046668627860278564
More cols detected True
Y tolerance exceeded True
0      North merica
1
2
3    Progi Services
4       Instruction
5           857,731
dtype: object
--------------------------------------------------
academic activity
Y Delta: 0.004089668393135071
Min Y Delta: 0.00463829829511399
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
North menca Progr Services Student Services 24,225
Y Delta: 0.004548646509647369
Min Y Delta: 0.004616775252782789
More cols detected True
Y tolerance exceeded False
--------------------------------------------------
North menca Investments
Y Delta: 0.008581656962633133
Min Y Delta: 0.004648145381561962
More cols detected False
Y tolerance exceeded True
0                           North America  North menca
1
2                                                    1
3                       Progr Services  Progr Services
4    Research other academic activity Student Services
5                                      858,957  24,225
dtype: object
--------------------------------------------------
Russia Newly Grantmaking 243,041
Y Delta: 0.008849535137414932
Min Y Delta: 0.004681857347180593
More cols detected True
Y tolerance exceeded True
0    North menca
1
2
3    Investments
4
5
dtype: object
--------------------------------------------------
Independ States
Y Delta: 0.003897950053215027
Min Y Delta: 0.004652550767059438
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
Russia Newly Progr services Service Centers 1,950
Y Delta: 0.004838939756155014
Min Y Delta: 0.004635774603945615
More cols detected True
Y tolerance exceeded False
0    Russia Newly Independ States
1
2
3                     Grantmaking
4
5                         243,041
dtype: object
--------------------------------------------------
Independ States
Y Delta: 0.004592735320329666
Min Y Delta: 0.004616561327918223
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
Russia & Newly Programservices Academic Support 40,022
Y Delta: 0.004427123814821243
Min Y Delta: 0.004595986431619773
More cols detected True
Y tolerance exceeded False
--------------------------------------------------
Independer States
Y Delta: 0.004108000546693802
Min Y Delta: 0.004572314775032282
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
tussia & Newly Progr Services Instruction 87,961
Y Delta: 0.004745319485664368
Min Y Delta: 0.0045567251571740665
More cols detected True
Y tolerance exceeded False
0    Russia Newly Independ States Russia & Newly In...
1
2
3                      Progr services  Programservices
4                    Service Centers  Academic Support
5                                        1,950  40,022
dtype: object
--------------------------------------------------
Independe States
Y Delta: 0.003976732492446899
Min Y Delta: 0.004532874008873478
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
Russia Newly Program: Services Research other 111,296
Y Delta: 0.005093146115541458
Min Y Delta: 0.004522232002571726
More cols detected True
Y tolerance exceeded False
0    tussia & Newly Independe States
1
2
3                     Progr Services
4                        Instruction
5                             87,961
dtype: object
--------------------------------------------------
Independe States academic activity
Y Delta: 0.003952551633119583
Min Y Delta: 0.004499322910252137
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
Russia & Newly Progr Services Student Services 600
Y Delta: 0.0047316960990428925
Min Y Delta: 0.004485546811180108
More cols detected True
Y tolerance exceeded False
0       Russia Newly Independe States
1
2
3                   Program: Services
4    Research other academic activity
5                             111,296
dtype: object
--------------------------------------------------
Independe States
Y Delta: 0.0045479051768779755
Min Y Delta: 0.004470195126486942
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
Russia & Newly Investments
Y Delta: 0.004659827798604965
Min Y Delta: 0.004456458164831544
More cols detected True
Y tolerance exceeded False
0    Russia & Newly Independe States
1
2
3                     Progr Services
4                   Student Services
5                                600
dtype: object
--------------------------------------------------
Independer States
Y Delta: 0.003962051123380661
Min Y Delta: 0.004435834278410766
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
South America Fundraising 4,191

Y Delta: 0.0049121081829071045
Min Y Delta: 0.004425536290174732
More cols detected True
Y tolerance exceeded False
0    Russia & Newly Independer States
1
2
3                         Investments
4
5
dtype: object
--------------------------------------------------
South America Grantmaking 503,476
Y Delta: 0.008267834782600403
Min Y Delta: 0.004449527368509537
More cols detected False
Y tolerance exceeded True
0    South America
1
2
3      Fundraising
4
5            4,191
dtype: object
--------------------------------------------------
South America Progr Services Service centers 58,695
Y Delta: 0.00861252099275589
Min Y Delta: 0.004476325546856969
More cols detected True
Y tolerance exceeded True
0    South America
1
2
3      Grantmaking
4
5          503,476
dtype: object
--------------------------------------------------
South America 14 Progran Services Academic support 1,018,493
Y Delta: 0.008826039731502533
Min Y Delta: 0.004504525602801311
More cols detected True
Y tolerance exceeded True
0      South America
1
2
3     Progr Services
4    Service centers
5             58,695
dtype: object
--------------------------------------------------
South merica Program services Instruction 592,699
Y Delta: 0.008571632206439972
Min Y Delta: 0.004529515194386099
More cols detected False
Y tolerance exceeded True
0       South America
1
2                  14
3    Progran Services
4    Academic support
5           1,018,493
dtype: object
--------------------------------------------------
South America Progr Services Research other 939,544
Y Delta: 0.008538775146007538
Min Y Delta: 0.004553548093938913
More cols detected False
Y tolerance exceeded True
0        South merica
1
2
3    Program services
4         Instruction
5             592,699
dtype: object
--------------------------------------------------
academic activity
Y Delta: 0.004329890012741089
Min Y Delta: 0.004537014795402418
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
South America Progr Services Student Services 8,557
Y Delta: 0.004828013479709625
Min Y Delta: 0.004525564736832166
More cols detected True
Y tolerance exceeded False
0                       South America
1
2
3                      Progr Services
4    Research other academic activity
5                             939,544
dtype: object
--------------------------------------------------
South Amenca Investment
Y Delta: 0.008562631905078888
Min Y Delta: 0.004548977195992376
More cols detected False
Y tolerance exceeded True
0       South America
1
2
3      Progr Services
4    Student Services
5               8,557
dtype: object
--------------------------------------------------
South Fundraising 1.039
Y Delta: 0.00825469195842743
Min Y Delta: 0.004569002095661013
More cols detected True
Y tolerance exceeded True
0    South Amenca
1
2
3      Investment
4
5
dtype: object
--------------------------------------------------
South Asia Grantmaking 695,743
Y Delta: 0.008909046649932861
Min Y Delta: 0.0045944573112247315
More cols detected False
Y tolerance exceeded True
0          South
1
2
3    Fundraising
4
5          1.039
dtype: object
--------------------------------------------------
South Progr m services Academic support 96,447
Y Delta: 0.00856461375951767
Min Y Delta: 0.0046162311565629876
More cols detected True
Y tolerance exceeded True
0     South Asia
1
2
3    Grantmaking
4
5        695,743
dtype: object
--------------------------------------------------
South Asia Progr Services institutional support 403
Y Delta: 0.00866226851940155
Min Y Delta: 0.004638354335774612
More cols detected False
Y tolerance exceeded True
0               South
1
2
3    Progr m services
4    Academic support
5              96,447
dtype: object
--------------------------------------------------
South Asia Programservices instruction 920.156
Y Delta: 0.008280768990516663
Min Y Delta: 0.004656635991671275
More cols detected False
Y tolerance exceeded True
0               South Asia
1
2
3           Progr Services
4    institutional support
5                      403
dtype: object
--------------------------------------------------
South Asia 1 10 Program Services Research other 1,119,706
Y Delta: 0.008739396929740906
Min Y Delta: 0.004678451068747532
More cols detected True
Y tolerance exceeded True
0         South Asia
1
2
3    Programservices
4        instruction
5            920.156
dtype: object
--------------------------------------------------
academic activity
Y Delta: 0.004411779344081879
Min Y Delta: 0.00466288724419428
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
South Progr amservices student services 12,382
Y Delta: 0.0047506242990493774
Min Y Delta: 0.004650528603521165
More cols detected True
Y tolerance exceeded False
0                          South Asia
1                                   1
2                                  10
3                    Program Services
4    Research other academic activity
5                           1,119,706
dtype: object
--------------------------------------------------
South Grantmaking
Y Delta: 0.008244588971138
Min Y Delta: 0.004667560971574858
More cols detected False
Y tolerance exceeded True
0               South
1
2
3    Progr amservices
4    student services
5              12,382
dtype: object
--------------------------------------------------
South A: INVESTMENTS
Y Delta: 0.008793026208877563
Min Y Delta: 0.004688739088993355
More cols detected False
Y tolerance exceeded True
0          South
1
2
3    Grantmaking
4
5
dtype: object
--------------------------------------------------
Sub- Saharan Africa Fundraising 1,642
Y Delta: 0.008654862642288208
Min Y Delta: 0.004708330479131648
More cols detected True
Y tolerance exceeded True
0       South A:
1
2
3    INVESTMENTS
4
5
dtype: object
--------------------------------------------------
Sub- Saharan Africa 4 219 Grantmaking 43,431,884
Y Delta: 0.008766710758209229
Min Y Delta: 0.004728402549986757
More cols detected True
Y tolerance exceeded True
0    Sub- Saharan Africa
1
2
3            Fundraising
4
5                  1,642
dtype: object
--------------------------------------------------
Saharan Africa Progr Services Services centers 272
Y Delta: 0.008284494280815125
Min Y Delta: 0.004744200083610423
More cols detected True
Y tolerance exceeded True
0    Sub- Saharan Africa
1                      4
2                    219
3            Grantmaking
4
5             43,431,884
dtype: object
--------------------------------------------------
Sub- Saharan Africa Progr Services Academic support 132,752
Y Delta: 0.00882893055677414
Min Y Delta: 0.004763963218704846
More cols detected False
Y tolerance exceeded True
0      Saharan Africa
1
2
3      Progr Services
4    Services centers
5                 272
dtype: object
--------------------------------------------------
Sub- Saharan Africa Progr services instruction 782,143
Y Delta: 0.008541397750377655
Min Y Delta: 0.004781068271768163
More cols detected False
Y tolerance exceeded True
0    Sub- Saharan Africa
1
2
3         Progr Services
4       Academic support
5                132,752
dtype: object
--------------------------------------------------
Sub- Saharan Africa Program services Research other 5,575,512
Y Delta: 0.008495964109897614
Min Y Delta: 0.0047974693522903795
More cols detected False
Y tolerance exceeded True
0    Sub- Saharan Africa
1
2
3         Progr services
4            instruction
5                782,143
dtype: object
--------------------------------------------------
academic activity
Y Delta: 0.0038191601634025574
Min Y Delta: 0.004777743849946109
More cols detected False
Y tolerance exceeded False
--------------------------------------------------
Saharan Africa Investments
Y Delta: 0.005295410752296448
Min Y Delta: 0.004769600559181224
More cols detected True
Y tolerance exceeded False
0                 Sub- Saharan Africa
1
2
3                    Program services
4    Research other academic activity
5                           5,575,512
dtype: object
--------------------------------------------------
0    Saharan Africa
1
2
3       Investments
4
5
dtype: object

In [ ]:
rows[0][0]

In [ ]:
test_extractor.field_labels.map(
    lambda x: get_coordinate(test_extractor.tablemap, x, "Left", "Left_Default")
)

In [ ]:
word_clusters[1]

In [ ]:
columnize(word_clusters[1], col_spans).map(get_cluster_coords)

In [ ]:
test_extractor.tablemap

In [ ]:
header_words = test_extractor.get_header_words(test_words, 22)

In [ ]:
header_words.sort_values(by="Left")[["Text", "Left", "Right", "Midpoint_Y"]].head(50)

In [ ]:
pd.DataFrame(
    {
        "Gap": header_words.sort_values(by="Left").rolling(2).apply(lambda x: x),
        "Right": header_words.sort_values(by="Left")["Right"],
        "Text": header_words.sort_values(by="Left")["Text"],
    }
)

In [ ]:
def cluster_x(words, tolerance):
    print("Tolerance", tolerance)
    if (tolerance == 0) or (words.shape[0] < 2):
        return [
            [word] for (idx, word)
            in words.sort_values(by="Left").iterrows()
        ]
    groups = []
    sorted_words = words.sort_values(by="Left")
    current_group = [sorted_words.iloc[0]]
    last = sorted_words.iloc[0]["Right"]
    for idx, word in sorted_words.iloc[1:].iterrows():
        if word["Left"] <= (last + tolerance):
            current_group.append(word)
        else:
            print("New Group")
            print("*"*100)
            groups.append(current_group)
            current_group = [word]
        print("Left:", word["Left"])
        print("Right:", word["Right"])
        last = max((last, word["Right"]))
    groups.append(current_group)
    return [pd.DataFrame(group) for group in groups]

In [ ]:
left_right = pd.DataFrame(
    {
        "Left": header_words["Left"].sort_values().reset_index(drop=True),
        "Right": header_words["Right"].sort_values().reset_index(drop=True),
    }
)

header_lines = cluster_x(
    left_right, header_words["Width"].min()*.8
)

In [ ]:
len(header_lines)

In [ ]:
[
    (x["Left"].min(), x["Right"].max())
    for x in header_lines
]

In [ ]:
x_clusters = cluster_x(header_words, header_words["Width"].min()*.8)

In [ ]:
len(x_clusters)

In [ ]:
0.6793086230754852-0.6723970174789429

In [ ]:
[
    words.sort_values(by="Left")["Text"].agg(lambda x: " ".join(x.values))
    for words in x_clusters
]

In [ ]:
left_bounds = pd.Series(
        cluster["Left"].min() for cluster in x_clusters[1:]
)
right_bounds = pd.Series(
    [cluster["Right"].max() for cluster in x_clusters[:-1]]
)
offsets = right_bounds - left_bounds
full_left = pd.concat([pd.Series([0]), left_bounds + offsets]).reset_index(drop=True)
full_right = pd.concat([right_bounds - offsets, pd.Series([1])]).reset_index(drop=True)
col_spans = full_left.combine(full_right, lambda x, y: (x, y))
col_spans

In [ ]:
last_cluster_right = pd.concat([header_words, table_words])["Left"].min()
left_bounds = []
right_bounds = []
for cluster in x_clusters:
    print("Last Cluster Right", last_cluster_right)
    print("Cluster Left", cluster["Left"].min())
    print("Cluster Right", cluster["Right"].max())
    print("*"*50)
    left_bounds.append(last_cluster_right)
    last_cluster_right = max(
        cluster["Right"].max()
        + cluster["Left"].min()
        - last_cluster_right,
        cluster["Right"].max()
    )
    right_bounds.append(last_cluster_right)
col_spans = pd.Series(zip(left_bounds, right_bounds))
col_spans

In [ ]:
header_words["Midpoint_X"].round(2).value_counts()

In [ ]:
def count_crossing_lines(df, left, right):
    return (
        df.loc[
            df["Left"].between(left, right)
            & (df["Right"] > right),
            "Text"
        ].count()
        + df.loc[
            (df["Left"] < left)
            & df["Right"].between(left, right),
            "Text"
        ].count()
    )


def recalculate_intervals(left_interval, right_interval):
    left_left = left_interval[0]
    right_right = right_interval[1]
    total_span = right_right - left_left

In [ ]:
col_spans.map(
    lambda x: (x[1] + x[0]) / 2
)

In [ ]:
table_words.loc[
    table_words["Left"].between(0.12358373403549194, 0.3558424413204193)
    & (table_words["Midpoint_X"] > 0.3558424413204193),
    "Text"
]

In [ ]:
left_right = pd.DataFrame(
    {
        "left": header_words["Left"].sort_values().reset_index(drop=True),
        "right": header_words["Right"].sort_values().reset_index(drop=True),
    }
)
left_right.rolling(2).apply(lambda x: print(x, "\n" + "*"*20) or 1)

In [ ]:
left_right.head()

In [ ]:
1 and 2

In [ ]:
(test_words.groupby("Page")["Width"].max() / test_words.groupby("Page")["Height"].mean()).index.values

In [ ]:
pd.cut(header_words["Right"], 1000).unique().categories

In [ ]:
sorted_header_words = header_words.sort_values(by="Left")

In [ ]:
len(x_clusters)

In [ ]:
def cluster_x(words, tolerance):
    if (tolerance == 0) or (words.shape[0] < 2):
        return [
            [word] for (idx, word)
            in words.sort_values(by="Midpoint_X").iterrows()
        ]
    groups = []
    sorted_words = words.sort_values(by="Midpoint_X")
    current_group = [sorted_words.iloc[0]]
    last = sorted_words.iloc[0]["Midpoint_X"]
    for idx, word in sorted_words.iloc[1:].iterrows():
        last = (last + word["Midpoint_X"]) / 2
        if word["Midpoint_X"] <= (last + tolerance):
            current_group.append(word)
        else:
            print("New Group")
            print("*"*100)
            groups.append(current_group)
            current_group = [word]
            last = word["Right"]
        print("Word:", word["Text"])
        print("Left:", word["Left"])
        print("Right:", word["Right"])
    groups.append(current_group)
    return [pd.DataFrame(group) for group in groups]

In [ ]:
clusters = cluster_x(header_words, header_words["Width"].mean()*.7)

In [ ]:
len(clusters)

In [ ]:
header_words.sort_values(by="Midpoint_X").rolling(4)["Midpoint_X"].mean()

In [ ]:
left_clusters = cluster_words(header_words, header_words["Width"].mean()*.835, "Left")

In [ ]:
len(left_clusters)

In [ ]:
[
    cluster["Left"].mean() for cluster in left_clusters
]

In [ ]:
def get_col_spans(self, words, page):
    pass

In [ ]:
test_extractor.tablemap

In [ ]:
test_col_spans = pd.Series(
    [
        (0, 0.205227),
        (0.205227, 0.311407),
        (0.311407, 0.420936),
        (0.420936, 0.572975),
        (0.572975, 0.735998),
        (0.735998, 1),
    ]
)

In [ ]:
def find_new_right(df, right):
    return (
        df.loc[
            (df["Right"] > right*1.01)
            & (df["Left"] < right),
            "Left"
        ].min()
    )

In [ ]:
crossing_right = test_col_spans.map(
    lambda x: get_new_right(
        pd.concat([
            test_extractor.get_header_words(test_words, 18),
            test_extractor.get_table_words(test_words, 18),
        ]),
        x[1]
    )
)
crossing_right

In [ ]:
test_col_spans.where(
    crossing_right.isna(),
    test_col_spans.combine(crossing_right, lambda x, y: (x[0], y))
)

In [ ]:
test_col_spans

In [ ]:
init_left = test_extractor.field_labels.map(
    lambda x: get_coordinate(test_extractor.tablemap, x, "Left", "Left_Default")
)
init_right = pd.concat(
    [
        init_left.iloc[1:],
        pd.Series([1]),
    ],
    ignore_index=True,
)

In [ ]:
crossing_right = init_right.map(
    lambda x: find_new_right(
        pd.concat([
            test_extractor.get_header_words(test_words, 25),
            test_extractor.get_table_words(test_words, 25),
        ]),
        x
    )
)
crossing_right

In [ ]:
new_right = init_right.where(
    crossing_right.isna(),
    crossing_right,
)
new_right

In [ ]:
init_left

In [ ]:
init_left.iloc[1:] = new_right.iloc[:-1]

In [ ]:
init_left

In [ ]:
col_spans = init_left.combine(new_right, lambda x, y: (x, y))