# Parsing Debug Notebook

This somewhat messy notebook makes it easier to debug the parser, because we can just rerun the cells needed to set up the debugging process with various parameters.

In [1]:
import json
import math
import re
from pathlib import Path

import boto3
import pandas as pd

from parse_990_textract.bucket import open_df
from parse_990_textract.filing import create_roadmap, extract_from_roadmap
from parse_990_textract.models import BoundingBox, TableExtractor
from parse_990_textract.parse import create_extractors, find_item, find_pages
from parse_990_textract.postprocessing import clean_filing, clean_f_i, clean_f_ii, clean_f_iii, postprocess
from parse_990_textract.setup import load_extractor_df
from parse_990_textract.table import extract_table_data, find_table_pages, create_tablemap
from parse_990_textract.utils import get_coordinate, get_regex, cluster_words, columnize, cluster_x

In [2]:
bucket = boto3.resource("s3").Bucket("s3-ocr-990s-demo")

In [3]:
validation_data = pd.read_csv("validation_data.csv", index_col="job_id").fillna("")
validation_data.head()

,pdf_key,other_expenses_c_mgmt_general,payments_affiliates_total,other_expenses_d_prog_service,total_revenue,fees_for_lobbying_services_total,other_employee_benefits_fundraising,total_fundraising_expenses,compensation_officers_prog_service,fees_for_mgmt_services_total,...,travel_total,pension_plan_acc_contrib_prog_service,advertising_promotion_mgmt_general,pension_plan_acc_contrib_mgmt_general,compensation_disq_persons_total,other_salaries_wages_mgmt_general,office_expenses_mgmt_general,fees_for_other_services_fundraising,total_number_other_recipient_foreign_orgs_entities,activities_per_region_totals_total_expenditure
job_id,,,,,,,,,,,,,,,,,,,,,
0f908c03383d094f6c1386749189f281d188d5ea0cd64c4e424a5b1aae1650c4,EIN_760733035_YEAR_2009_FORMTYPE_990.pdf,,,33000.0,1415024,,,4503.0,,,...,18307.0,,,,,,,,,
bcc635fa2b088a72666c3d534d0221a1c1294f2974a6a304679654069e5cbcdc,EIN_363235550_YEAR_2009_FORMTYPE_990.pdf,,,15832.0,9899921,,27161.0,597789.0,295722.0,,...,677722.0,34261.0,30,3462.0,,159156.0,48381.0,22350.0,,
f0545c488bd7ab7e775c25cfa7d050a3ff1f84dea9a3371b8fef236bd3d0624b,EIN_223134995_YEAR_2010_FORMTYPE_990.pdf,0.0,,10823.0,3370595,,12776.0,263765.0,148689.0,2250.0,...,197092.0,,127381,,396855.0,103312.0,11723.0,23021.0,,
4f2b05354be9fb6483976694a1ed0494c7c387631c15130bdaaa1a85a1cf4f82,EIN_264320885_YEAR_2009_FORMTYPE_990.pdf,,,,46117,,,669.0,,,...,,,,,,,458.0,,,
1dd5dc37f4e99e27668c769d04d0f72273a6c582d504bf0b88d35d5a4c15c1be,EIN_581943161_YEAR_2009_FORMTYPE_990.pdf,581.0,,0.0,583209,,2521.0,14409.0,298484.0,,...,7233.0,,,,,,4010.0,0.0,,

In [4]:
extractor_df = load_extractor_df("990_extractors.csv")
roadmap_df = load_extractor_df("990_roadmap.csv")
schedule_f_tablemap_df = load_extractor_df("schedule_f_table_roadmap.csv")
schedule_f_table_extractor_df = pd.read_csv("schedule_f_table_extractors.csv")
schedule_f_row_extractor_df = pd.read_csv("schedule_f_row_extractors.csv")

In [5]:
PART_I_HEADER = r"\(a\)\s*Region|\(d\)\s*Activities|\(e\)\s*If activity|\(f\)Total expenditures"
PART_II_HEADER = r"\(b\)\s*IRS code|\(c\)\s*Region|\(d\)\s*Purpose|\(f\)\s*Manner|\(h\)\s*Description"
PART_III_HEADER = r"\(b\)\s*Region|\(e\)\s*Manner of cash|\(h\)\s*Method of va"
PART_I_TABLE_NAME = "Activities per Region"
PART_II_TABLE_NAME = r"Grants to Organizations Outside the United States"
PART_III_TABLE_NAME = "Grants to Individuals Outside the United States"

In [6]:
filing_rows = []
schedule_f_part_i_rows = []
schedule_f_part_ii_rows = []
schedule_f_part_iii_rows = []


for i, job_id in enumerate(validation_data.index.values):
    print(i)
    print(job_id)
    pdf_key = validation_data.at[job_id, "pdf_key"]
    print(pdf_key)
    
    data = open_df(bucket, job_id)
    lines = data.loc[data["BlockType"] == "LINE"]
    words = data.loc[data["BlockType"] == "WORD"]
    page_map = find_pages(lines)
    roadmap = create_roadmap(
        lines, roadmap_df, page_map
    )
    
    row = extract_from_roadmap(
        words, lines, roadmap, extractor_df, page_map
    )
    row = postprocess(row, job_id, pdf_key, clean_filing)
    filing_rows.append(row)
    
    pages = lines.groupby("Page")
    
    part_i_table = extract_table_data(
        pages, lines, words, PART_I_HEADER, PART_I_TABLE_NAME, 
        schedule_f_tablemap_df, schedule_f_table_extractor_df, schedule_f_row_extractor_df,
    )
    part_i_table = postprocess(part_i_table, job_id, pdf_key, clean_f_i)
    if part_i_table is not None:
        schedule_f_part_i_rows.append(
            part_i_table
        )
    part_ii_table = extract_table_data(
        pages, lines, words, PART_II_HEADER, PART_II_TABLE_NAME, 
        schedule_f_tablemap_df, schedule_f_table_extractor_df, schedule_f_row_extractor_df,
    )
    part_ii_table = postprocess(part_ii_table, job_id, pdf_key, clean_f_ii)
    if part_ii_table is not None:
        schedule_f_part_ii_rows.append(
            part_ii_table
        )
    part_iii_table = extract_table_data(
        pages, lines, words, PART_III_HEADER, PART_III_TABLE_NAME, 
        schedule_f_tablemap_df, schedule_f_table_extractor_df, schedule_f_row_extractor_df,
    )
    part_iii_table = postprocess(part_iii_table, job_id, pdf_key, clean_f_iii)
    if part_iii_table is not None:
        schedule_f_part_iii_rows.append(
            part_iii_table
        )

0
0f908c03383d094f6c1386749189f281d188d5ea0cd64c4e424a5b1aae1650c4
EIN_760733035_YEAR_2009_FORMTYPE_990.pdf

No match for year_formation in L Year of Formation M State of legal domicile
No match for state_of_domicile in M State of legal domicile

1
bcc635fa2b088a72666c3d534d0221a1c1294f2974a6a304679654069e5cbcdc
EIN_363235550_YEAR_2009_FORMTYPE_990.pdf

No match for total_unrelated_biz_revenue in 7a NONE
No match for net_unrelated_biz_taxable_revenue in 7b NONE
No match for benefits_paid_members_expenses in NONE
No match for professional_fundraising_fees_expenses in NONE
No match for grants_foreign_individuals_govt_orgs_total in NONE
No match for benefits_to_members_total in NONE
No match for compensation_disq_persons_total in NONE
No match for fees_for_mgmt_services_total in NONE
No match for fees_for_lobbying_services_total in NONE
No match for fees_for_fundraising_services_total in NONE
No match for fees_for_investment_mgmt_services_total in NONE
No match for royalties_total in NONE
No match for entertainment_travel_govt_officials_total in NONE
No match for interest_total in NONE
No match for payments_affiliates_total in NONE

2
f0545c488bd7ab7e775c25cfa7d050a3ff1f84dea9a3371b8fef236bd3d0624b
EIN_223134995_YEAR_2010_FORMTYPE_990.pdf
3
4f2b05354be9fb6483976694a1ed0494c7c387631c15130bdaaa1a85a1cf4f82
EIN_264320885_YEAR_2009_FORMTYPE_990.pdf
4
1dd5dc37f4e99e27668c769d04d0f72273a6c582d504bf0b88d35d5a4c15c1be
EIN_581943161_YEAR_2009_FORMTYPE_990.pdf
5
5596f51a999ebbd4cb992f490ceaffcddbac9bce532b911997683ae6897c2797
EIN_231352689_YEAR_2009_FORMTYPE_990.pdf

<class 'KeyError'>: 'Bottom (i)'

0                    (0.0, 0.20522736012935638)
1    (0.20522736012935638, 0.30398181080818176)
2    (0.30398181080818176, 0.40665268898010254)
3     (0.40665268898010254, 0.5697942972183228)
4      (0.5697942972183228, 0.7359976768493652)
5                     (0.7359976768493652, 1.0)
dtype: object
0                  Europe
1                       1
2                       0
3    theological training
4    Th offers M degree a
5                   6,661
dtype: object

<class 'KeyError'>: 'Bottom (h)'

6
481a62c75776cc7f62075c1d60c230ea01f2dbc5b6224c65cb73db1728e86b00
EIN_954806856_YEAR_2009_FORMTYPE_990.pdf
7
39d270117e4b6354850551c8237421403da7d2b3f5d06657a28f5a9d07febf17
EIN_521238301_YEAR_2010_FORMTYPE_990.pdf

No match for address in Name of organization AMERICAN LIFE LEAGUE, INC. Doing Business As Number and street (or PO box if mail is not delivered to street addr) Room/suite PO BOX 1350 City, town or country State ZIP code + 4 STAFFORD VA 22555
No match for net_unrelated_biz_taxable_revenue in 7b
No match for grants_us_govt_orgs_mgmt_and_general in expenses
No match for grants_us_govt_orgs_fundraising in expenses
No match for total_number_recipient_foreign_orgs_listed_as_charities in which for or

0                    (0.0, 0.266514390707016)
1     (0.266514390707016, 0.3728327453136444)
2    (0.3728327453136444, 0.4842928946018219)
3    (0.4842928946018219, 0.6626684069633484)
4    (0.6626684069633484, 0.8171125054359436)
5                   (0.8171125054359436, 1.0)
dtype: object
0    (1)
1
2
3
4
5
dtype: object

<class 'KeyError'>: 'Bottom (i)'
<class 'KeyError'>: 'Bottom (h)'

8
9a69ea9d5c8d5397603dbb77d027f4ff4ef9dcdc6609b7a1657f9484529353a0
EIN_521703065_YEAR_2010_FORMTYPE_990.pdf
9
3b9cc21f73f11bef5f2e4c15859661f7f7c9adee8dd6a1f2301099834fdb2926
EIN_611190087_YEAR_2008_FORMTYPE_990.pdf

No match for mission in 1 Briefly describe the organization's mission o most significant activities

10
82588f1ce9ca8cec2fc6b55ec07361b821be6650d1c01db4b9c948b8bf12689f
EIN_113489123_YEAR_2008_FORMTYPE_990.pdf

No match for website in J Website: H(c)
No match for gross_receipts in G Gross receipts $
No match for year_formation in L Year of formation. M State of legal domicile:
No match for state_of_domicile in M State of legal domicile:
No match for total_unrelated_biz_revenue in 7a
No match for net_unrelated_biz_taxable_revenue in 7b
No match for total_fundraising_expenses in b Total fundraising expenses (Part IX, column (D), line 25)

11
f303b69e79844240beccf4fc5b3cecaa3a4f3024a955b2f4a49dd0a81b456649
EIN_582248383_YEAR_2009_FORMTYPE_990.pdf

<class 'KeyError'>: 'Bottom (i)'

0                    (0.0, 0.2496366947889328)
1    (0.2496366947889328, 0.34550750255584717)
2    (0.34550750255584717, 0.4288233816623688)
3     (0.4288233816623688, 0.6555368900299072)
4     (0.6555368900299072, 0.8657971024513245)
5                    (0.8657971024513245, 1.0)
dtype: object
0        CENTRAL AMERICA
1                      2
2                      7
3       SERVICES PROGRAM
4    HOSPITAL OPERATIONS
5             1,747,524,
dtype: object

<class 'KeyError'>: 'Bottom (h)'

12
a2061356d7999388cbd49b79872883c92ce6c81a7e7820788f92db496cedd620
EIN_630329409_YEAR_2009_FORMTYPE_990.pdf

No match for website in J Web site: www faulkneredu

13
6e417b42fc15148e0489456f5086bbac28a8361d3452a0ddc23314afee5b6313
EIN_620988294_YEAR_2010_FORMTYPE_990.pdf
14
e56d65e73cec9532561c42db4f4dc64c5b968441b4d492444292a9daf3921044
EIN_581954432_YEAR_2010_FORMTYPE_990.pdf
15
68a8d4678de1d3107eff3ae0bfa1acdd6a9787a173b49c1b9e3dfbad7de5b452
EIN_474865647_YEAR_2020_FORMTYPE_990.pdf

<class 'KeyError'>: 'Bottom (i)'

0    (0.0, 0.0)
1    (0.0, 0.0)
2    (0.0, 0.0)
3    (0.0, 0.0)
4    (0.0, 0.0)
5    (0.0, 1.0)
dtype: object
0
1
2
3
4
5    Add'l See Data
dtype: object

<class 'KeyError'>: 'Bottom (h)'

16
cd689dd466e417d074b1bde48b0928cc4ae08d6cca44be9d15f288fe13adb578
EIN_472208314_YEAR_2020_FORMTYPE_990.pdf
17
2ef32905e24a7a69d5bb4e4ac22448b279cbe84df831d57b17daa69df0219dfd
EIN_262414132_YEAR_2009_FORMTYPE_990.pdf

<class 'KeyError'>: 'Bottom (i)'

0                    (0.0, 0.205183744430542)
1     (0.205183744430542, 0.3036543130874634)
2    (0.3036543130874634, 0.4066148102283478)
3    (0.4066148102283478, 0.5695642828941345)
4    (0.5695642828941345, 0.7436174750328064)
5                   (0.7436174750328064, 1.0)
dtype: object
0            Africa Sub-Saraha
1                            1
2                          400
3    of Africa Operation Mercy
4      & curative Preventative
5                   15,444,553
dtype: object

<class 'KeyError'>: 'Bottom (h)'

18
b71782c8204cadf98ef57d1e9a6968d35368fc940dede7bc85dff661df77a27e
EIN_411601449_YEAR_2010_FORMTYPE_990.pdf

No match for activities_per_region_totals_number_of_offices in O
<class 'KeyError'>: 'Bottom (i)'
<class 'KeyError'>: 'Bottom (h)'

0                    (0.0, 0.20523503422737122)
1    (0.20523503422737122, 0.30402296781539917)
2     (0.30402296781539917, 0.4074409306049347)
3      (0.4074409306049347, 0.5698453187942505)
4      (0.5698453187942505, 0.7437431812286377)
5                     (0.7437431812286377, 1.0)
dtype: object
0    Africa Sub-Saharan
1                     0
2                     0
3           Grantmaking
4    DISTRIBUTIO FOOD N
5                39,022
dtype: object
19
aefc7b65c34db330d8d9f56a1226e116b63ee9be7dbdd4ae4c7bea5d87359f97
EIN_362428692_YEAR_2009_FORMTYPE_990.pdf
20
a5a3cbfcf844be8862bbb61ad46d4c795891ab1143e420db5ed99fc79eeb66c9
EIN_271377148_YEAR_2016_FORMTYPE_990.pdf
21
67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebdb32d3186b19d6a6fd5
EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
0                    (0.0, 0.20516887307167053)
1    (0.20516887307167053, 0.30356723070144653)
2    (0.30356723070144653, 0.41124168038368225)
3     (0.41124168038368225, 0.5729736089706421)
4      (0.5729736089706421, 0.7439168691635132)
5                     (0.7439168691635132, 1.0)
dtype: object
0    Add'IData See
1
2
3
4
5
dtype: object
0                    (0.0, 0.1671319603919983)
1    (0.1671319603919983, 0.25465500354766846)
2    (0.25465500354766846, 0.3363614082336426)
3     (0.3363614082336426, 0.4708361327648163)
4     (0.4708361327648163, 0.6129726767539978)
5                    (0.6129726767539978, 1.0)
dtype: object
0    and Central the merica
1
2
3               Fundraising
4
5                       481
dtype: object

<class 'KeyError'>: 'Bottom (i)'
<class 'KeyError'>: 'Bottom (h)'

22
a6529e504df346097da99104a353e977426e018cd5ac33b62cd2dd89c90763c5
EIN_311002913_YEAR_2008_FORMTYPE_990.pdf
23
d1925c2d74adaa3f150ded3ce67dfe7ae3a306f0db0289ad5755a28d801b2b0b
EIN_202408857_YEAR_2010_FORMTYPE_990.pdf

No match for activities_per_region_totals_number_of_offices in Act the
<class 'KeyError'>: 'Bottom (i)'
<class 'KeyError'>: 'Bottom (h)'

0                   (0.0, 0.2591646611690521)
1    (0.2591646611690521, 0.3459742069244385)
2    (0.3459742069244385, 0.4439423382282257)
3    (0.4439423382282257, 0.5978794097900391)
4    (0.5978794097900391, 0.7727535963058472)
5                   (0.7727535963058472, 1.0)
dtype: object
0               Middle East
1                         0
2                         1
3    We cash make to grants
4               Cash Grants
5                 1,688,327
dtype: object
24
01d89ee5d14575c1321b2e4d67431d172ba76212b4a266bdaf474275029fd78b
EIN_521830327_YEAR_2009_FORMTYPE_990.pdf

No match for total_fundraising_expenses in b Total fundraising expenses (Part IX, column (D), line 25)
No match for revenue_less_expenses in <43,775.> End of Year

In [7]:
output_data = pd.concat(filing_rows).reset_index(drop=True).set_index("job_id")

In [8]:
output_data.head()

field_name,index,name,address,city,state,zip,website,gross_receipts,year_formation,state_of_domicile,...,total_functional_expense_fundraising,activities_per_region_totals_number_of_offices,activities_per_region_totals_number_of_employees,activities_per_region_totals_total_expenditure,total_number_recipient_foreign_orgs_listed_as_charities,total_number_other_recipient_foreign_orgs_entities,pdf_key,ein,year,filing_id
job_id,,,,,,,,,,,,,,,,,,,,,
0f908c03383d094f6c1386749189f281d188d5ea0cd64c4e424a5b1aae1650c4,0,MAKE WAY PARTNERS INC,PO BOX 26367,BIRMINGHAM,OX,26367,www MAKEWAYPARTNERS ORG,1426217,,,...,4503,,,,,,EIN_760733035_YEAR_2009_FORMTYPE_990.pdf,760733035,2009,760733035_2009
bcc635fa2b088a72666c3d534d0221a1c1294f2974a6a304679654069e5cbcdc,0,THE FEDERALIST SOCIETY FOR LAW AND,"1015 18TH ST., N.W. 425",WASHINGTON,DC,20036,www. FED-SOC.ORG,11033302,1982,IL,...,597789,,,,,,EIN_363235550_YEAR_2009_FORMTYPE_990.pdf,363235550,2009,363235550_2009
f0545c488bd7ab7e775c25cfa7d050a3ff1f84dea9a3371b8fef236bd3d0624b,0,Ron Hutchcraft Ministries Inc,PO Box 400,Harnson,AR,20400,www hutchcraft com,3390,1991,NJ,...,263765,,,,,,EIN_223134995_YEAR_2010_FORMTYPE_990.pdf,223134995,2010,223134995_2010
4f2b05354be9fb6483976694a1ed0494c7c387631c15130bdaaa1a85a1cf4f82,0,FREEDOM 4 24,21430 TIMBERLAKE ROAD STE 101,LYNCHBURG,VA,24502,freedom424 org,61857,2009,VA,...,669,,,,,,EIN_264320885_YEAR_2009_FORMTYPE_990.pdf,264320885,2009,264320885_2009
1dd5dc37f4e99e27668c769d04d0f72273a6c582d504bf0b88d35d5a4c15c1be,0,GEORGIA PUBLIC POLICY FOUNDTION,6100 LAKE FORREST DR,LAKE FORREST,GA,30328,www GPPF org,583209,1991,GA,...,14409,,,,,,EIN_581943161_YEAR_2009_FORMTYPE_990.pdf,581943161,2009,581943161_2009

In [9]:
def clean(x):
    x = str(x)
    x = re.sub(r"\.0\b", "", x)
    x = re.sub("\D", "", x)
    return x

In [10]:
def compare_output(to_validate, to_compare, col):
    return pd.DataFrame(
        {
            "extracted": to_validate.loc[col].loc[
                lambda series: series != to_compare.loc[col]
            ],
            "expected": to_compare.loc[col].loc[
                lambda series: series != to_validate.loc[col]
            ],
        }
    )

In [11]:
to_compare = validation_data.set_index("pdf_key").applymap(clean)
to_validate = output_data[validation_data.columns].set_index("pdf_key").applymap(clean)

for col in to_validate.index:
    validated = compare_output(to_validate, to_compare, col)
    if validated.any().any():
        print(col)
        print(f"{validated.shape[0]} mismatched items.")
        print(validated)
        print("-"*79)

EIN_113489123_YEAR_2008_FORMTYPE_990.pdf
2 mismatched items.
              extracted expected
total_revenue      1017  1017506
travel_total        137    13710
-------------------------------------------------------------------------------
EIN_582248383_YEAR_2009_FORMTYPE_990.pdf
1 mismatched items.
                                                   extracted expected
total_number_other_recipient_foreign_orgs_entities        10
-------------------------------------------------------------------------------

In [12]:
assert False

AssertionError:

## BREAK

In [8]:
pd.concat(schedule_f_part_i_rows).head(50)[
    [
        "region", "number_offices", "number_employees", 
        "activities_conducted", "specific_type_activity", 
        "total_expenditures", "pdf_key"
    ]
]

field,region,number_offices,number_employees,activities_conducted,specific_type_activity,total_expenditures,pdf_key
0,Europe,1,0,theological training,offers a Th M degree,6661,EIN_231352689_YEAR_2009_FORMTYPE_990.pdf
1,Totals,1,0,,,6661,EIN_231352689_YEAR_2009_FORMTYPE_990.pdf
0,(1),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
1,(2),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
2,(3),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
3,(4),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
4,(5),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
5,(6),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
6,(7),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
7,(8),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
8,(9),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
9,(10),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
10,(11),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
11,(12),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
12,(13),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
13,(14),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
14,(15),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
15,(16),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
16,(17),,,,,,EIN_521238301_YEAR_2010_FORMTYPE_990.pdf
0,CENTRAL AMERICA,2,7,PROGRAM SERVICES,HOSPITAL OPERATIONS,1747524,EIN_582248383_YEAR_2009_FORMTYPE_990.pdf
1,SOUTH ASIA,1,6,PROGRAM SERVICES,HOSPITAL OPERATIONS,1104403,EIN_582248383_YEAR_2009_FORMTYPE_990.pdf
2,SUB-SAHARAN AFRICA,6,23,PROGRAM SERVICES,HOSPITAL CONSTRUCTION,4231711,EIN_582248383_YEAR_2009_FORMTYPE_990.pdf
3,EUROPE,1,1,PROGRAM DEVELOPMENT/FUNDRAISING,,345968,EIN_582248383_YEAR_2009_FORMTYPE_990.pdf
4,Totals,10,37,,,7.429.606,EIN_582248383_YEAR_2009_FORMTYPE_990.pdf
0,,,,,,,EIN_474865647_YEAR_2020_FORMTYPE_990.pdf
0,Sub-Saraha Africa,1,400,"Operation of Africa Mercy hospital ship, which...",Preventative & curative medical services,15444553,EIN_262414132_YEAR_2009_FORMTYPE_990.pdf
1,,,,Cotonou Feb to Nov 09,,,EIN_262414132_YEAR_2009_FORMTYPE_990.pdf
2,Sub-Sahara Africa,2,10,Operation of two medical,Preventative & curative,560012,EIN_262414132_YEAR_2009_FORMTYPE_990.pdf
3,,,,clinics in Sierra Leone,medical services to the,,EIN_262414132_YEAR_2009_FORMTYPE_990.pdf
4,,,,,poor,,EIN_262414132_YEAR_2009_FORMTYPE_990.pdf
5,Totals,3,410,,,16004565,EIN_262414132_YEAR_2009_FORMTYPE_990.pdf
0,Sub-Saharan Africa,0,0,Grantmaking,FOOD DISTRIBUTIO N,39022,EIN_411601449_YEAR_2010_FORMTYPE_990.pdf
1,Central America and the Caribbean,0,0,Grantmaking,FOOD DISTRIBUTIO N,19511,EIN_411601449_YEAR_2010_FORMTYPE_990.pdf
2,Totals,0,0,,,58533,EIN_411601449_YEAR_2010_FORMTYPE_990.pdf
0,See Add'IData,,,,,,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
1,Totals,25,305,,,96031393,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
2,Central merica and the Carbbear,,,Fundraising,,481,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
3,Central merica the Caribbean,,,Grantmaking,,303788,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
4,Central merica the anbbea,,,Program services,Academic Support,20973,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
5,:entral America the :aribbean,,,Program Services,Instruction,58431,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
6,entral merica the Caribbear,,,Program services,Research and other academic activity,228975,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
7,Central merica the Taribbean,,,Investments,,,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
8,East Asia and Pacific,,,Fundraising,,3593,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
9,East Asia and Pacific,,,Grantmaking,,1269299,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
10,East Asia and Pacific,,,rogr services,Service Centers,118026,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
11,East Asia and Pacific,,,rogram Services,Academic Support,461230,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
12,East Asia and the Pacific,,,Progr services,Institutiona support,71217,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
13,East Asia and Pacific,,,Program Services,instruction,5628477,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
14,East Asia and Pacific,,44,Progr Services,Research other Academic Activity,6420156,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf
15,East Asia and Pacific,,,Programservices,Student services,22043,EIN_42103580_YEAR_2010_FORMTYPE_990.pdf

In [ ]:
pd.concat(schedule_f_part_i_rows).tail(50)

In [ ]:
pd.concat(schedule_f_part_ii_rows).iloc[:50]

In [ ]:
pd.concat(schedule_f_part_iii_rows).iloc[:50]

In [ ]:
table_test_df = open_df(bucket, "2ef32905e24a7a69d5bb4e4ac22448b279cbe84df831d57b17daa69df0219dfd")

In [ ]:
test_lines = table_test_df.loc[
    table_test_df["BlockType"] == "LINE"
]
test_words = table_test_df.loc[
    table_test_df["BlockType"] == "WORD"
]
test_pages = test_lines.groupby("Page")

In [ ]:
part_i_table_pages = find_table_pages(
    test_pages["Text"].agg(lambda words: " ".join(words)),
    PART_I_HEADER,
)

In [ ]:
part_i_table_pages

In [ ]:
part_i_tablemaps = pd.DataFrame(
    {
        "page": part_i_table_pages,
        "tablemap": part_i_table_pages.map(
            lambda page: create_tablemap(
                test_lines, schedule_f_tablemap_df, page, PART_I_TABLE_NAME
            ).dropna()
        ),
    }
)

In [ ]:
part_i_tablemaps["tablemap"].iloc[0]

In [ ]:
part_i_row_extractors = schedule_f_row_extractor_df.loc[
    schedule_f_row_extractor_df["table"] == PART_I_TABLE_NAME
]
part_i_table_data = schedule_f_table_extractor_df.loc[
    schedule_f_table_extractor_df["table"] == PART_I_TABLE_NAME
].iloc[0]

In [ ]:
rows = part_i_tablemaps.assign(
    extractor=part_i_tablemaps["tablemap"].map(
        lambda tablemap: TableExtractor(
            header_top_label=part_i_table_data["header_top"],
            top_label=part_i_table_data["table_top"],
            bottom_label=part_i_table_data["table_bottom"],
            tablemap=tablemap,
            fields=part_i_row_extractors["field"],
            field_labels=part_i_row_extractors["col_left"]
        )
    )
)

In [ ]:
test_extractor = rows["extractor"].iloc[0]

In [ ]:
test_extractor.get_col_spans(test_words, 22)

In [ ]:
test_extractor.extract_rows(test_words, 22).head(50)

In [ ]:
table_words = test_extractor.get_table_words(test_words, 22)

In [ ]:
table_words

In [ ]:
word_clusters = cluster_words(table_words, table_words["Height"].min(), "Midpoint_Y")
[" ".join(word.sort_values(by="Left")["Text"].values) for word in word_clusters]

In [ ]:
def columnize(word_cluster, col_spans):
    return col_spans.map(
        lambda span: word_cluster.loc[
            (word_cluster["Left"].between(*span, inclusive="left"))
        ]
    )


def get_cluster_coords(cluster):
    cluster_coords = {
        "Left": cluster["Left"].min(),
        "Right": cluster["Right"].max(),
        "Height": cluster["Height"].max(),
        "Midpoint_X": cluster["Midpoint_X"].median(),
        "Midpoint_Y": cluster["Midpoint_Y"].median(),
        "Top": cluster["Top"].min(),
        "Bottom": cluster["Bottom"].min(),
    }
    cluster_coords["Width"] = cluster_coords["Right"] - cluster_coords["Left"]
    return cluster_coords


def combine_row(row):
    return pd.Series([
        line.map(
            lambda x: x.sort_values(
                by="Left"
            ).reset_index(drop=True)["Text"].fillna("")
        ).agg(
            lambda x: " ".join(x.values)
        ) + " "
        for line in row
    ]).sum().str.strip()

col_spans = test_extractor.get_col_spans(test_words, 22)

col_spans

In [ ]:
y_tol = table_words["Height"].max() * 1.1
x_tol = table_words["Width"].median()

columnized = columnize(word_clusters[0], col_spans)
last_col_coords = pd.DataFrame.from_records(
    columnized.map(
        get_cluster_coords
    )
)
sum_y_delta = y_tol
print(sum_y_delta)
rows = []
current_row = [columnized]
print(" ".join(word_clusters[0].sort_values(by="Left")["Text"].values))
for count, cluster in enumerate(word_clusters[1:]):
    print("-"*50)
    print(" ".join(cluster.sort_values(by="Left")["Text"].values))
    columnized = columnize(cluster, col_spans)
    col_coords = pd.DataFrame.from_records(columnized.map(get_cluster_coords))
    nonempty = col_coords.dropna().index.to_series()
    last_nonempty = last_col_coords.dropna().index.to_series()
    delta_cols = (~nonempty.isin(last_nonempty)).any()
    y_delta = (
        col_coords["Midpoint_Y"].median()
        - last_col_coords["Midpoint_Y"].median()
    )
    sum_y_delta += y_delta
    mean_y_delta = sum_y_delta / (count + 1)
    min_y_delta = mean_y_delta*0.67
    print("Y Delta:", y_delta)
    print("Min Y Delta:", min_y_delta)
    print("More cols detected", delta_cols)
    print("Y tolerance exceeded", (y_delta > y_tol) and (y_delta > min_y_delta))
    if (delta_cols or (y_delta > y_tol)) and (y_delta > min_y_delta):
        combined_row = combine_row(current_row)
        print(combined_row)
        rows.append(combined_row)
        current_row = [columnized]
    else:
        current_row.append(columnized)
    last_col_coords = col_coords
print("-"*50)
combined_row = combine_row(current_row)
print(combined_row)
rows.append(combined_row)

In [ ]:
rows[0][0]

In [ ]:
test_extractor.field_labels.map(
    lambda x: get_coordinate(test_extractor.tablemap, x, "Left", "Left_Default")
)

In [ ]:
word_clusters[1]

In [ ]:
columnize(word_clusters[1], col_spans).map(get_cluster_coords)

In [ ]:
test_extractor.tablemap

In [ ]:
header_words = test_extractor.get_header_words(test_words, 22)

In [ ]:
header_words.sort_values(by="Left")[["Text", "Left", "Right", "Midpoint_Y"]].head(50)

In [ ]:
pd.DataFrame(
    {
        "Gap": header_words.sort_values(by="Left").rolling(2).apply(lambda x: x),
        "Right": header_words.sort_values(by="Left")["Right"],
        "Text": header_words.sort_values(by="Left")["Text"],
    }
)

In [ ]:
def cluster_x(words, tolerance):
    print("Tolerance", tolerance)
    if (tolerance == 0) or (words.shape[0] < 2):
        return [
            [word] for (idx, word)
            in words.sort_values(by="Left").iterrows()
        ]
    groups = []
    sorted_words = words.sort_values(by="Left")
    current_group = [sorted_words.iloc[0]]
    last = sorted_words.iloc[0]["Right"]
    for idx, word in sorted_words.iloc[1:].iterrows():
        if word["Left"] <= (last + tolerance):
            current_group.append(word)
        else:
            print("New Group")
            print("*"*100)
            groups.append(current_group)
            current_group = [word]
        print("Left:", word["Left"])
        print("Right:", word["Right"])
        last = max((last, word["Right"]))
    groups.append(current_group)
    return [pd.DataFrame(group) for group in groups]

In [ ]:
left_right = pd.DataFrame(
    {
        "Left": header_words["Left"].sort_values().reset_index(drop=True),
        "Right": header_words["Right"].sort_values().reset_index(drop=True),
    }
)

header_lines = cluster_x(
    left_right, header_words["Width"].min()*.8
)

In [ ]:
len(header_lines)

In [ ]:
[
    (x["Left"].min(), x["Right"].max())
    for x in header_lines
]

In [ ]:
x_clusters = cluster_x(header_words, header_words["Width"].min()*.8)

In [ ]:
len(x_clusters)

In [ ]:
0.6793086230754852-0.6723970174789429

In [ ]:
[
    words.sort_values(by="Left")["Text"].agg(lambda x: " ".join(x.values))
    for words in x_clusters
]

In [ ]:
left_bounds = pd.Series(
        cluster["Left"].min() for cluster in x_clusters[1:]
)
right_bounds = pd.Series(
    [cluster["Right"].max() for cluster in x_clusters[:-1]]
)
offsets = right_bounds - left_bounds
full_left = pd.concat([pd.Series([0]), left_bounds + offsets]).reset_index(drop=True)
full_right = pd.concat([right_bounds - offsets, pd.Series([1])]).reset_index(drop=True)
col_spans = full_left.combine(full_right, lambda x, y: (x, y))
col_spans

In [ ]:
last_cluster_right = pd.concat([header_words, table_words])["Left"].min()
left_bounds = []
right_bounds = []
for cluster in x_clusters:
    print("Last Cluster Right", last_cluster_right)
    print("Cluster Left", cluster["Left"].min())
    print("Cluster Right", cluster["Right"].max())
    print("*"*50)
    left_bounds.append(last_cluster_right)
    last_cluster_right = max(
        cluster["Right"].max()
        + cluster["Left"].min()
        - last_cluster_right,
        cluster["Right"].max()
    )
    right_bounds.append(last_cluster_right)
col_spans = pd.Series(zip(left_bounds, right_bounds))
col_spans

In [ ]:
header_words["Midpoint_X"].round(2).value_counts()

In [ ]:
def count_crossing_lines(df, left, right):
    return (
        df.loc[
            df["Left"].between(left, right)
            & (df["Right"] > right),
            "Text"
        ].count()
        + df.loc[
            (df["Left"] < left)
            & df["Right"].between(left, right),
            "Text"
        ].count()
    )


def recalculate_intervals(left_interval, right_interval):
    left_left = left_interval[0]
    right_right = right_interval[1]
    total_span = right_right - left_left

In [ ]:
col_spans.map(
    lambda x: (x[1] + x[0]) / 2
)

In [ ]:
table_words.loc[
    table_words["Left"].between(0.12358373403549194, 0.3558424413204193)
    & (table_words["Midpoint_X"] > 0.3558424413204193),
    "Text"
]

In [ ]:
left_right = pd.DataFrame(
    {
        "left": header_words["Left"].sort_values().reset_index(drop=True),
        "right": header_words["Right"].sort_values().reset_index(drop=True),
    }
)
left_right.rolling(2).apply(lambda x: print(x, "\n" + "*"*20) or 1)

In [ ]:
left_right.head()

In [ ]:
1 and 2

In [ ]:
(test_words.groupby("Page")["Width"].max() / test_words.groupby("Page")["Height"].mean()).index.values

In [ ]:
pd.cut(header_words["Right"], 1000).unique().categories

In [ ]:
sorted_header_words = header_words.sort_values(by="Left")

In [ ]:
len(x_clusters)

In [ ]:
def cluster_x(words, tolerance):
    if (tolerance == 0) or (words.shape[0] < 2):
        return [
            [word] for (idx, word)
            in words.sort_values(by="Midpoint_X").iterrows()
        ]
    groups = []
    sorted_words = words.sort_values(by="Midpoint_X")
    current_group = [sorted_words.iloc[0]]
    last = sorted_words.iloc[0]["Midpoint_X"]
    for idx, word in sorted_words.iloc[1:].iterrows():
        last = (last + word["Midpoint_X"]) / 2
        if word["Midpoint_X"] <= (last + tolerance):
            current_group.append(word)
        else:
            print("New Group")
            print("*"*100)
            groups.append(current_group)
            current_group = [word]
            last = word["Right"]
        print("Word:", word["Text"])
        print("Left:", word["Left"])
        print("Right:", word["Right"])
    groups.append(current_group)
    return [pd.DataFrame(group) for group in groups]

In [ ]:
clusters = cluster_x(header_words, header_words["Width"].mean()*.7)

In [ ]:
len(clusters)

In [ ]:
header_words.sort_values(by="Midpoint_X").rolling(4)["Midpoint_X"].mean()

In [ ]:
left_clusters = cluster_words(header_words, header_words["Width"].mean()*.835, "Left")

In [ ]:
len(left_clusters)

In [ ]:
[
    cluster["Left"].mean() for cluster in left_clusters
]

In [ ]:
def get_col_spans(self, words, page):
    pass

In [ ]:
test_extractor.tablemap

In [ ]:
test_col_spans = pd.Series(
    [
        (0, 0.205227),
        (0.205227, 0.311407),
        (0.311407, 0.420936),
        (0.420936, 0.572975),
        (0.572975, 0.735998),
        (0.735998, 1),
    ]
)

In [ ]:
def find_new_right(df, right):
    return (
        df.loc[
            (df["Right"] > right*1.01)
            & (df["Left"] < right),
            "Left"
        ].min()
    )

In [ ]:
crossing_right = test_col_spans.map(
    lambda x: get_new_right(
        pd.concat([
            test_extractor.get_header_words(test_words, 18),
            test_extractor.get_table_words(test_words, 18),
        ]),
        x[1]
    )
)
crossing_right

In [ ]:
test_col_spans.where(
    crossing_right.isna(),
    test_col_spans.combine(crossing_right, lambda x, y: (x[0], y))
)

In [ ]:
test_col_spans

In [ ]:
init_left = test_extractor.field_labels.map(
    lambda x: get_coordinate(test_extractor.tablemap, x, "Left", "Left_Default")
)
init_right = pd.concat(
    [
        init_left.iloc[1:],
        pd.Series([1]),
    ],
    ignore_index=True,
)

In [ ]:
crossing_right = init_right.map(
    lambda x: find_new_right(
        pd.concat([
            test_extractor.get_header_words(test_words, 25),
            test_extractor.get_table_words(test_words, 25),
        ]),
        x
    )
)
crossing_right

In [ ]:
new_right = init_right.where(
    crossing_right.isna(),
    crossing_right,
)
new_right

In [ ]:
init_left

In [ ]:
init_left.iloc[1:] = new_right.iloc[:-1]

In [ ]:
init_left

In [ ]:
col_spans = init_left.combine(new_right, lambda x, y: (x, y))