In [172]:
import json
import math
import re
from pathlib import Path

import boto3
import pandas as pd

from parse_990_textract.bucket import open_df
from parse_990_textract.filing import create_roadmap, extract_from_roadmap
from parse_990_textract.models import BoundingBox, TableExtractor
from parse_990_textract.parse import create_extractors, find_item, find_pages
from parse_990_textract.postprocessing import clean_filing, clean_f_i, clean_f_ii, clean_f_iii
from parse_990_textract.setup import load_extractor_df
from parse_990_textract.table import extract_table_data, find_table_pages, create_tablemap
from parse_990_textract.utils import get_coordinate, get_regex

In [2]:
TEST_JOB_IDS = [
    "67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebdb32d3186b19d6a6fd5",
    #"a6529e504df346097da99104a353e977426e018cd5ac33b62cd2dd89c90763c5",
    #"9947884c88a577277428845f5afe6def65f0105bc543a2d0eaf159ab89a70725",
    #"01d89ee5d14575c1321b2e4d67431d172ba76212b4a266bdaf474275029fd78b",
    #"d1925c2d74adaa3f150ded3ce67dfe7ae3a306f0db0289ad5755a28d801b2b0b",
    #"5cab71fd7354b318e12bd076657e96dd6fd1f890c2a83d23e29b35766cfe11c9",
    #"d601dfbf6590b675c2e3ab8ae0ddab690ad71b4d899973d31c461ddc8fa86943",
    #"74eb93fa3b2a306954a811f75de80ac622f31952d2ba2088268c58348cb5c25b",
    #"c70cae52d0216aeabf997babbbece32608de694cbc74fcf72d1d61a4d13028ed",
    #"71a8cd09a44a93c76e65e3f211d8e97657a816c2c9d3cca61ab12dc830017002",
]

In [3]:
bucket = boto3.resource("s3").Bucket("s3-ocr-990s-demo")

In [184]:
extractor_df = load_extractor_df("990_extractors.csv")
roadmap_df = load_extractor_df("990_roadmap.csv")
schedule_f_tablemap_df = load_extractor_df("schedule_f_table_roadmap.csv")
schedule_f_table_extractor_df = pd.read_csv("schedule_f_table_extractors.csv")
schedule_f_row_extractor_df = pd.read_csv("schedule_f_row_extractors.csv")

In [11]:
PART_I_HEADER = r"\(a\)\s*Region|\(d\)\s*Activities|\(e\)\s*If activity|\(f\)Total expenditures"
PART_II_HEADER = r"\(b\)\s*IRS code|\(c\)\s*Region|\(d\)\s*Purpose|\(f\)\s*Manner|\(h\)\s*Description"
PART_III_HEADER = r"\(b\)\s*Region|\(e\)\s*Manner of cash|\(h\)\s*Method of va"
PART_I_TABLE_NAME = "Activities per Region"
PART_II_TABLE_NAME = r"Grants to Organizations Outside the United States"
PART_III_TABLE_NAME = "Grants to Individuals Outside the United States"

In [6]:
TEST_DFS = [
    open_df(bucket, job_id)
    for job_id in TEST_JOB_IDS
]

In [12]:
filing_rows = []
schedule_f_part_i_rows = []
schedule_f_part_ii_rows = []
schedule_f_part_iii_rows = []


for i, data in enumerate(TEST_DFS):
    print(i)
    lines = data.loc[data["BlockType"] == "LINE"]
    words = data.loc[data["BlockType"] == "WORD"]
    page_map = find_pages(lines)
    roadmap = create_roadmap(
        lines, roadmap_df, page_map
    )
    row = extract_from_roadmap(
        words, lines, roadmap, extractor_df, page_map
    )
    filing_rows.append(row)
    pages = lines.groupby("Page")
    part_i_table = extract_table_data(
        pages, lines, words, PART_I_HEADER, PART_I_TABLE_NAME, 
        schedule_f_tablemap_df, schedule_f_table_extractor_df, schedule_f_row_extractor_df,
    )
    if part_i_table is not None:
        schedule_f_part_i_rows.append(
            part_i_table
        )
    part_ii_table = extract_table_data(
        pages, lines, words, PART_II_HEADER, PART_II_TABLE_NAME, 
        schedule_f_tablemap_df, schedule_f_table_extractor_df, schedule_f_row_extractor_df,
    )
    if part_ii_table is not None:
        schedule_f_part_ii_rows.append(
            part_ii_table
        )
    part_iii_table = extract_table_data(
        pages, lines, words, PART_III_HEADER, PART_III_TABLE_NAME, 
        schedule_f_tablemap_df, schedule_f_table_extractor_df, schedule_f_row_extractor_df,
    )
    if part_iii_table is not None:
        schedule_f_part_iii_rows.append(
            part_iii_table
        )

0

<class 'KeyError'>: '(c) Number of recipients'

In [13]:
filing_rows

[field_name
 name                                                       President and Fellows of Harvard College
 address                                                       1033 Massachusetts Avenue Third Floor
 city                                                                                      Cambridge
 state                                                                                            MA
 zip                                                                                           02138
                                                                              ...
 activities_per_region_totals_number_of_offices                                                   25
 activities_per_region_totals_number_of_employees                                                305
 activities_per_region_totals_total_expenditure                                           96,031,393
 total_number_recipient_foreign_orgs_listed_as_charities
 total_number_other_recipient_foreign_orgs_entities
 Length: 187, dtype: object]

In [17]:
filing_rows[0].iloc[-50:].to_frame().reset_index()

,field_name,0
0,payments_affiliates_prog_service,
1,payments_affiliates_mgmt_general,
2,payments_affiliates_fundraising,
3,depreciation_depletion_amortization_total,"255,661,843"
4,depreciation_depletion_amortization_prog_service,"233,291,432"
5,depreciation_depletion_amortization_mgmt_general,"15,531,457"
6,depreciation_depletion_amortization_fundraising,"6,838,954"
7,insurance_total,"9,072,572"
8,insurance_prog_service,"8,278,722"
9,insurance_mgmt_general,"551,159"
10,insurance_fundraising,"242,691"
11,other_expenses_a_label,expenses below) a PAYMENTS TO ANNUITANTS
12,other_expenses_a_total,"57,749,000"
13,other_expenses_a_prog_service,"52,695,962"
14,other_expenses_a_mgmt_general,"3,508,252"
15,other_expenses_a_fundraising,"1,544,786"
16,other_expenses_b_label,Miscellaneous OTHER EXP
17,other_expenses_b_total,"43,967,790"
18,other_expenses_b_prog_service,"40,120,609"
19,other_expenses_b_mgmt_general,"2,671,043"
20,other_expenses_b_fundraising,"1,176,138"
21,other_expenses_c_label,BOOKS
22,other_expenses_c_total,"36,660,288"
23,other_expenses_c_prog_service,"33,452,512"
24,other_expenses_c_mgmt_general,"2,227,113"
25,other_expenses_c_fundraising,"980,663"
26,other_expenses_d_label,PUBLISHING
27,other_expenses_d_total,"19,748,360"
28,other_expenses_d_prog_service,"18,020,378"
29,other_expenses_d_mgmt_general,"1,199,713"
30,other_expenses_d_fundraising,"528,269"
31,all_other_expenses_total,"19,748,360"
32,all_other_expenses_prog_service,"18,020,378"
33,all_other_expenses_mgmt_general,"1,199,713"
34,all_other_expenses_fundraising,"528,269"
35,total_functional_expenses_total,"3,959,430,876"
36,total_functional_expenses_prog_service,"3,557,072,057"
37,total_functional_expenses_mgmt_general,"314,359,159"
38,total_functional_expense_fundraising,"87,999,660"
39,activities_per_region_subtotal_number_of_offices,
40,activities_per_region_subtotal_number_of_emplo...,
41,activities_per_region_subtotal_total_expenditure,
42,activities_per_region_continuation_total_numbe...,
43,activities_per_region_continuation_total_numbe...,
44,activities_per_region_continuation_total_total...,
45,activities_per_region_totals_number_of_offices,25
46,activities_per_region_totals_number_of_employees,305
47,activities_per_region_totals_total_expenditure,"96,031,393"
48,total_number_recipient_foreign_orgs_listed_as_...,
49,total_number_other_recipient_foreign_orgs_enti...,

In [ ]:
assert False

In [185]:
test_lines = TEST_DFS[0].loc[
    lambda df: df["BlockType"] == "LINE"
]
test_words = TEST_DFS[0].loc[
    lambda df: df["BlockType"] == "WORD"
]
test_pages = test_lines.groupby("Page")
part_i_table_pages = find_table_pages(
    test_pages["Text"].agg(lambda words: " ".join(words)), "Schedule F Part I"
)
test_pagemap = find_pages(test_lines)
test_roadmap = create_roadmap(test_lines, roadmap_df, test_pagemap)
test_extractors = create_extractors(extractor_df, test_roadmap, test_pagemap)

In [186]:
part_i_table = extract_table_data(
    test_pages, test_lines, test_words, 
    PART_I_HEADER, PART_I_TABLE_NAME, 
    schedule_f_tablemap_df, schedule_f_table_extractor_df,
    schedule_f_row_extractor_df
)

In [188]:
part_i_table.head(50)

field,region,number_offices,number_employees,activities_conducted,specific_type_activity,total_expenditures
0,Totals,25,305,,,"96,031,393"
1,Central merica and the Carbbear,,,,,481
2,Central merica the Caribbean,,,,,"303,788"
3,Central merica the anbbea,,,,Academic Support,"20,973"
4,:entral :aribbean America the,,,,Instruction,"58,431"
5,entral merica Caribbear the Central Taribbean ...,,,,Research and other academic activity,"228,975"
6,East Asia and Pacific,,,,,"3,593"
7,East Asia and Pacific,,,,,"1,269,299"
8,East Asia and Pacific,,rogr,services,Service Centers,"118,026"
9,East Asia and Pacific,,,Services,Academic Support,"461,230"
10,East Asia and the Pacific,,Progr,services,Institutiona support,"71,217"
11,East Asia and Pacific,,,,instruction,"5,628,477"
12,East Asia and Pacific,,44 Progr,Services,Research Academic Activity other,"6,420,156"
13,East Asia and Pacific East Asia and Pacific,,,,Student services,"22,043"
14,Europe Greenland) Including Iceland &,,,,,"59,246"
15,Iceland,,,,,"5,351,568"
16,Europe freenland Including Iceland,,,Services,Service Centers,"245,139"
17,Europe Greenland Including Iceland 8,,Progr,Services,Academic Support,"689,566"
18,Greenland) cluding Iceland &,,Progr,Services,institutional Support,"80,288"
19,Europe ;reenland) Including Iceland,,,Services,Instruction,"4,676,915"
20,& Greenland) urope including Icelan,5,15 Progr,Services,Research academic activity other,"8,736,896"
21,urope Greenland) cluding Iceland Europe Greenl...,,Prog,Services,Student Services,"321,429"
22,Middle East and North Africa,1,2,,,"698,609"
23,Middle East and North Africa,,Progr,services,Service centers,"26,658"
24,Middle East and North Africa,,Progr,services,Academic support,"31,354"
25,Africa Middle East and North,,,,Institutional support,"7,637"
26,Middle East and North Africa,,Progr,Services,Instruction,"674,753"
27,Middle East and North Africa,,Progr,Services,Research other academicactivity,"325,683"
28,Middle East and North Africa Middle East and N...,,Progr,Services,Student Services,"80,648"
29,North merica,,,,,"33,431"
30,North merica,,,,,"676,647"
31,North merica,,Prog,Services,Service Centers,"83,348"
32,North merica,,Progr,Services,Academic Support,"400,150"
33,North menca,,Progr,Services,institutional support,"103,220"
34,North merica,,Progi,Services,Instruction,"857,731"
35,North America,,1 Progr,Services,Research other academic activity,"858,957"
36,North menca North menca,,Progr,Services,Student Services,"24,225"
37,Russia Independ States Newly,,,,,"243,041"
38,Russia Independ States Newly,,Progr,services,Service Centers,"1,950"
39,Russia & Independer Newly States,,,,Academic Support,"40,022"
40,Independe tussia & Newly States,,Progr,Services,Instruction,"87,961"
41,Independe Russia Newly States,,,Services,academic activity Research other,"111,296"
42,Russia & Newly Russia & Independer Independe S...,,Progr,Services,Student Services,600
43,South America,,,,,"4,191"
44,South America,,,,,"503,476"
45,South America,,Progr,Services,Service centers,"58,695"
46,South America,,14,Services,Academic support,"1,018,493"
47,South merica,,,,Instruction,"592,699"
48,South America,,Progr,Services,academic activity Research other,"939,544"
49,South South Amenca America,,Progr,Services,Student Services,"8,557"

In [189]:
create_tablemap(test_lines, schedule_f_tablemap_df, 30)

                                  Top      Left  Top_Default  Left_Default
Item
(a) Region                   0.056952  0.063677         0.00           0.0
(b) Number of offices        0.060424  0.167132         0.00           0.0
(c) Number of employees      0.060752  0.254655         0.00           0.0
(d) Activities conducted     0.056882  0.370626         0.00           0.0
(e) Specific type            0.056969  0.480311         0.00           0.0
(f) Total Expenditures       0.056891  0.612973         0.00           0.0
Schedule F, Part I, Item 3a      <NA>      <NA>         0.00           0.0
(a) Name of organization     0.725613  0.032893         0.00           0.0
(b) IRS code                 0.721736  0.128213         0.00           0.0
(c) Region                   0.727929  0.233067         0.00           0.0
(d) Purpose                  0.727798  0.321203         0.00           0.0
(e) Amount                   0.725723  0.450354         0.00           0.0
(f) Manner                   0.725492  0.573706         0.00           0.0
(g) Amount                   0.723598  0.668001         0.00           0.0
(h) Description              0.723661  0.786299         0.00           0.0
(i) Method                   0.721666  0.911389         0.00           0.0
Schedule F, Part II, Item 2      <NA>      <NA>         0.00           0.0
(a) Type                         <NA>      <NA>         0.00           0.0
(b) Region                       <NA>      <NA>         0.00           0.0
(c) Number of recipients         <NA>      <NA>         0.00           0.0
(d) Amount                       <NA>      <NA>         0.00           0.0
(e) Manner                       <NA>      <NA>         0.00           0.0
(f) Amount                       <NA>      <NA>         0.00           0.0
(g) Description                  <NA>      <NA>         0.00           0.0
(h) Method                       <NA>      <NA>         0.00           0.0
Schedule F                       <NA>      <NA>         0.80           0.8
Bottom (d)                   0.077065  0.348286         0.00           0.0
Bottom (i)                    0.73397  0.901838         0.00           0.0
Bottom (h)                    0.73397  0.901838         0.00           0.0
Bottom Part I                0.716738  0.006047         0.75           0.0
Top Left Corner                     0         0         0.00           0.0
Bottom Right Corner                 1         1         1.00           1.0

In [190]:
part_i_row_extractors = schedule_f_row_extractor_df.loc[
    lambda df: df["table"] == PART_I_TABLE_NAME
]
part_i_table = schedule_f_table_extractor_df.loc[
    lambda df: df["table"] == PART_I_TABLE_NAME
].iloc[0]

In [191]:
test_part_i_extractor = TableExtractor(
    top_label=part_i_table["table_top"],
    top_delta=part_i_table["table_top_delta"],
    bottom_label=part_i_table["table_bottom"],
    bottom_delta=part_i_table["table_bottom_delta"],
    row_margin=part_i_table["row_margin"],
    index_col_left_label=part_i_table["index_col_left"],
    index_col_left_delta=part_i_table["index_col_left_delta"],
    index_col_right_label=part_i_table["index_col_right"],
    index_col_right_delta=part_i_table["index_col_right_delta"],
    tablemap=create_tablemap(test_lines, schedule_f_tablemap_df, 30).dropna(),
    row_extractors=part_i_row_extractors,
    fields=part_i_row_extractors["field"],
)

In [196]:
table_words.loc[
    table_words["Text"].str.contains("Prog")
]

,BlockType,Page,Text,TextType,Polygon,Height,Left,Top,Right,Bottom,Width,Children,Line_No,File,Line_No2
Id,,,,,,,,,,,,,,,
fdfdd2bc-ca30-49db-bd60-2b5da7ef566e,WORD,30,Program services,PRINTED,"[{'X': 0.33881068229675293, 'Y': 0.10080314427...",0.003579,0.338811,0.100803,0.424993,0.104382,0.086182,None,14,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.0967, 0.103]"
02e068a8-4642-42a9-b1c6-75120f44de08,WORD,30,Program Services,PRINTED,"[{'X': 0.33822759985923767, 'Y': 0.10974000394...",0.003370,0.338228,0.109740,0.427858,0.113110,0.089631,None,16,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.103, 0.11]"
67dd66d8-def2-47ff-bd2d-3168c745897a,WORD,30,Program services,PRINTED,"[{'X': 0.33902767300605774, 'Y': 0.11882317066...",0.003429,0.339028,0.118823,0.425879,0.122253,0.086851,None,17,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.116, 0.123]"
06168896-0687-43f2-b52f-14117cde61af,WORD,30,Progr,PRINTED,"[{'X': 0.33977001905441284, 'Y': 0.17078070342...",0.003670,0.339770,0.170781,0.364665,0.174451,0.024895,None,23,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.169, 0.175]"
5a6570b5-deba-4f1d-ad10-4a829bff7449,WORD,30,Program Services,PRINTED,"[{'X': 0.33891963958740234, 'Y': 0.17955258488...",0.003526,0.338920,0.179553,0.428889,0.183078,0.089970,None,24,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.175, 0.182]"
97b2aefa-53ee-4dd7-98c1-f4d7ce1c83df,WORD,30,Progr,PRINTED,"[{'X': 0.33948445320129395, 'Y': 0.18799027800...",0.003371,0.339484,0.187990,0.364738,0.191361,0.025253,None,25,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.182, 0.188]"
e452fb87-5b95-4fad-9842-5312ead676f4,WORD,30,Programservices,PRINTED,"[{'X': 0.33911728858947754, 'Y': 0.19722262024...",0.003651,0.339117,0.197223,0.428008,0.200874,0.088890,None,26,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.195, 0.202]"
bb5f3d08-32fa-4074-b367-3769f16432c3,WORD,30,Program,PRINTED,"[{'X': 0.33959928154945374, 'Y': 0.23233115673...",0.003489,0.339599,0.232331,0.383929,0.235820,0.044330,None,30,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.228, 0.234]"
4ebb4ab5-7e91-4bfb-b4e4-bb38001d9f10,WORD,30,Progr,PRINTED,"[{'X': 0.3418879508972168, 'Y': 0.240975663065...",0.003312,0.341888,0.240976,0.364684,0.244287,0.022796,None,31,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.241, 0.247]"
8e0b38d6-18f7-40b0-84aa-4c0d7357fa74,WORD,30,Progr,PRINTED,"[{'X': 0.33994948863983154, 'Y': 0.25012984871...",0.003070,0.339949,0.250130,0.363776,0.253200,0.023827,None,32,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.247, 0.254]"
6e504981-f1f9-4eb1-af9b-7855d4c4a751,WORD,30,Program,PRINTED,"[{'X': 0.3410086929798126, 'Y': 0.259216219186...",0.003541,0.341009,0.259216,0.383516,0.262757,0.042507,None,33,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.254, 0.261]"
f3ca1063-e680-4457-808f-aa82e9009e1c,WORD,30,Progr,PRINTED,"[{'X': 0.33900323510169983, 'Y': 0.26795476675...",0.003276,0.339003,0.267955,0.364330,0.271231,0.025327,None,34,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.267, 0.274]"
c7b88f1f-53dc-456a-ab8a-901ce37ea78a,WORD,30,Prog,PRINTED,"[{'X': 0.3413469195365906, 'Y': 0.276894330978...",0.003327,0.341347,0.276894,0.363817,0.280221,0.022470,None,35,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.274, 0.28]"
dcbf2314-73f0-4e83-b484-6d454af75873,WORD,30,Progr,PRINTED,"[{'X': 0.3415309488773346, 'Y': 0.303565114736...",0.003856,0.341531,0.303565,0.364949,0.307422,0.023418,None,37,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.3, 0.306]"
0913aeb3-2c10-48f2-bd9f-0d99587e6058,WORD,30,Progr,PRINTED,"[{'X': 0.3403542935848236, 'Y': 0.312633305788...",0.003265,0.340354,0.312633,0.364573,0.315899,0.024219,None,38,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.306, 0.313]"
14a86d46-8b50-4eee-b46d-929739695544,WORD,30,Progr,PRINTED,"[{'X': 0.33791017532348633, 'Y': 0.33026427030...",0.003370,0.337910,0.330264,0.364444,0.333635,0.026534,None,40,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.326, 0.333]"
9995d374-3363-45ae-b1b0-c91865a1a0d4,WORD,30,Programservices,PRINTED,"[{'X': 0.33910444378852844, 'Y': 0.32161319255...",0.003704,0.339104,0.321613,0.427423,0.325317,0.088319,None,40,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.32, 0.326]"
fb03feb0-9b6b-4bcd-9973-81a88d1e7b6d,WORD,30,Progr,PRINTED,"[{'X': 0.33900657296180725, 'Y': 0.33931502699...",0.003464,0.339007,0.339315,0.364268,0.342779,0.025262,None,41,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.339, 0.346]"
2b3e2bad-1028-45e7-8516-02d155d71bf2,WORD,30,Progr,PRINTED,"[{'X': 0.3402317762374878, 'Y': 0.348381221294...",0.003405,0.340232,0.348381,0.364193,0.351787,0.023961,None,42,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.346, 0.352]"
c78a6edd-bc57-4e09-a7d0-929b357fd34a,WORD,30,Prog,PRINTED,"[{'X': 0.34173882007598877, 'Y': 0.38369038701...",0.003152,0.341739,0.383690,0.362836,0.386842,0.021097,None,46,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.379, 0.385]"
e03ff233-c4c7-484e-868a-7bc25305f6dd,WORD,30,Progr,PRINTED,"[{'X': 0.3388870358467102, 'Y': 0.400466114282...",0.003277,0.338887,0.400466,0.364377,0.403744,0.025490,None,47,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.398, 0.405]"
34b76cd3-3a6d-486b-99ef-3c7df502bce6,WORD,30,Progr,PRINTED,"[{'X': 0.3396326005458832, 'Y': 0.392219066619...",0.003323,0.339633,0.392219,0.363171,0.395542,0.023538,None,47,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.392, 0.398]"
1767214a-a27f-4215-947e-84db01ff4671,WORD,30,Progi,PRINTED,"[{'X': 0.3395066559314728, 'Y': 0.409306317567...",0.003419,0.339507,0.409306,0.363539,0.412725,0.024032,None,49,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.405, 0.411]"
12a52e76-5f39-47cc-b8f1-43245b192ed4,WORD,30,Progr,PRINTED,"[{'X': 0.34073755145072937, 'Y': 0.41815650463...",0.003195,0.340738,0.418157,0.364179,0.421351,0.023441,None,49,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.418, 0.424]"
068e1f22-1237-4f0f-a1d2-14429c7bcd12,WORD,30,Progr,PRINTED,"[{'X': 0.34142181277275085, 'Y': 0.42687442898...",0.003195,0.341422,0.426874,0.364087,0.430069,0.022665,None,50,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.424, 0.431]"
31e92e7c-69ea-44c7-800c-2d9b85342ea9,WORD,30,Progr,PRINTED,"[{'X': 0.33963364362716675, 'Y': 0.45287683606...",0.003458,0.339634,0.452877,0.364850,0.456335,0.025217,None,53,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.451, 0.457]"
1da42854-bce2-4fb2-bf4d-165e82cd22ae,WORD,30,Programservices,PRINTED,"[{'X': 0.34065675735473633, 'Y': 0.46166691184...",0.003631,0.340657,0.461667,0.427810,0.465298,0.087153,None,54,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.457, 0.464]"
2858d2ff-af66-4e21-ab2b-9a7cc2676abe,WORD,30,Progr,PRINTED,"[{'X': 0.34032633900642395, 'Y': 0.47063225507...",0.003258,0.340326,0.470632,0.364427,0.473890,0.024100,None,55,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.47, 0.477]"
3caa96fb-dc33-4fbd-ad2a-e414f12581aa,WORD,30,Program:,PRINTED,"[{'X': 0.3391951322555542, 'Y': 0.479645699262...",0.003443,0.339195,0.479646,0.386000,0.483089,0.046805,None,56,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.477, 0.483]"
ca36303a-a9fa-461a-9671-320e5db1522d,WORD,30,Progr,PRINTED,"[{'X': 0.34002605080604553, 'Y': 0.48855769634...",0.003395,0.340026,0.488558,0.364242,0.491953,0.024216,None,56,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.483, 0.49]"
41d90e8b-4528-4837-91c0-d1e40ad9e257,WORD,30,Progr,PRINTED,"[{'X': 0.3410174548625946, 'Y': 0.523683249950...",0.003292,0.341017,0.523683,0.366639,0.526975,0.025622,None,59,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.523, 0.529]"
44bb35a9-859e-40c8-86c1-f0cc827a6904,WORD,30,Progran,PRINTED,"[{'X': 0.3380074203014374, 'Y': 0.532068014144...",0.003386,0.338007,0.532068,0.377039,0.535454,0.039031,None,60,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.529, 0.536]"
1393e283-b560-46aa-8578-d86d9ae73a49,WORD,30,Program services,PRINTED,"[{'X': 0.3391750454902649, 'Y': 0.540620267391...",0.003528,0.339175,0.540620,0.426074,0.544149,0.086899,None,61,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.536, 0.542]"
238873bc-b827-437f-b3cf-3473b455aecb,WORD,30,Progr,PRINTED,"[{'X': 0.3400830924510956, 'Y': 0.549299657344...",0.003459,0.340083,0.549300,0.366436,0.552759,0.026353,None,62,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.549, 0.556]"
6d942b93-8bcc-43f7-bdc8-6f9ef2c1afd3,WORD,30,Progr,PRINTED,"[{'X': 0.34009790420532227, 'Y': 0.55847173929...",0.003352,0.340098,0.558472,0.363988,0.561824,0.023890,None,63,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.556, 0.562]"
794652bc-a4a6-4d16-9704-90f003b0a388,WORD,30,Progr,PRINTED,"[{'X': 0.33987995982170105, 'Y': 0.59292805194...",0.003370,0.339880,0.592928,0.364462,0.596298,0.024582,None,66,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.588, 0.595]"
0baf2d4d-e14d-4b72-8d82-26f329e95061,WORD,30,Progr,PRINTED,"[{'X': 0.34085920453071594, 'Y': 0.60141474008...",0.003531,0.340859,0.601415,0.364150,0.604945,0.023291,None,67,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.595, 0.601]"
42cc3b99-ebdc-4dd5-9ed2-fc1008522d10,WORD,30,Programservices,PRINTED,"[{'X': 0.3415491580963135, 'Y': 0.609844863414...",0.003312,0.341549,0.609845,0.426256,0.613157,0.084707,None,67,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.608, 0.615]"
2dac9814-845f-4a7e-a346-c1d9d339146c,WORD,30,Program,PRINTED,"[{'X': 0.3385877013206482, 'Y': 0.618394315242...",0.003376,0.338588,0.618394,0.377898,0.621771,0.039311,None,68,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.615, 0.621]"
04681a3e-8421-4cdd-ab00-4abfe3cac3d8,WORD,30,Progr,PRINTED,"[{'X': 0.3419207036495209, 'Y': 0.627741634845...",0.003103,0.341921,0.627742,0.363895,0.630845,0.021974,None,69,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.628, 0.634]"
8006a74a-980d-4387-957b-efe144b8f3c7,WORD,30,Progr,PRINTED,"[{'X': 0.3390698730945587, 'Y': 0.670423150062...",0.003183,0.339070,0.670423,0.364199,0.673607,0.025130,None,73,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.667, 0.674]"
bcfb2161-52e3-453a-bfc2-37914c4b63f4,WORD,30,Progr,PRINTED,"[{'X': 0.3397206962108612, 'Y': 0.679281890392...",0.003448,0.339721,0.679282,0.364210,0.682730,0.024490,None,74,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.674, 0.68]"
d6d5db82-4f6f-4f29-b1bd-8b15928253ed,WORD,30,Progr,PRINTED,"[{'X': 0.34036126732826233, 'Y': 0.68784815073...",0.003390,0.340361,0.687848,0.364152,0.691238,0.023790,None,74,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.687, 0.693]"
67d32f40-6006-4a15-bd0c-680ff38bf3ca,WORD,30,Program services,PRINTED,"[{'X': 0.3412562906742096, 'Y': 0.696411728858...",0.003470,0.341256,0.696412,0.425946,0.699882,0.084689,None,75,67217e04d83f69ffbbb461b0a23648b037b4a36d0c5ebd...,"(0.693, 0.7]"

In [195]:
table_words = test_words.loc[
    (test_words["Top"] > test_part_i_extractor.table_top)
    & (test_words["Bottom"] < .73)
    & (test_words["Page"] == 30)
].copy()
table_words["Line_No2"] = pd.cut(
    table_words["Top"], 
    int(
        0.5*(.73 - test_part_i_extractor.table_top) 
        / table_words["Height"].mean()
    )
)

In [114]:
table_words["Top"].sort_values().rolling(2).apply(lambda x: x.max() - x.min()).describe()

count    5.210000e+02
mean     1.245528e-03
std      2.490257e-03
min      1.192093e-07
25%      4.117191e-05
50%      9.840727e-05
75%      2.825856e-04
max      1.140487e-02
Name: Top, dtype: float64

In [117]:
pd.Series(
    range(
        int(
            (.73 - test_part_i_extractor.table_top) / row_gap
        )
    )
) * row_gap

0       0.000000
1       0.000098
2       0.000197
3       0.000295
4       0.000394
          ...
6651    0.654458
6652    0.654557
6653    0.654655
6654    0.654754
6655    0.654852
Length: 6656, dtype: float64

In [164]:
row_gap = 3.825856e-03
rows = []
row = []
last_top = table_words["Top"].iloc[0]
for word in table_words.sort_values(.itertuples():
    if word.Top - last_top > row_gap:
        rows.append(row)
        row = []
    row.append(word.Text)
    last_top = word.Top

In [181]:
table_words["NewTop"] = table_words["Top"].round(int(abs(math.log(table_words["Height"].mean(), 10))))

In [183]:
table_words.groupby("NewTop")["Text"].agg(lambda x: " ".join(x)).head(50)

NewTop
0.08    located the region) Central merica and the Fun...
0.09      Central Carbbear merica the Grantmaking 303,788
0.10    Caribbean Central merica the Program services ...
0.11    :entral :aribbean America the Program Services...
0.12    entral merica Research and other 228,975 Carib...
0.13             Central Taribbean merica the Investments
0.14    East Asia and Pacific Fundraising 3,593 1,269,299
0.15    East Asia and Pacific Grantmaking East Asia an...
0.16    East Asia and Pacific rogram Services Academic...
0.17    East Asia and the Pacific Progr services Insti...
0.18    East Asia and Pacific Program Services instruc...
0.19    East Asia and Pacific 44 Progr Services Resear...
0.20    East Asia and Pacific Programservices Student ...
0.21    East Asia and Pacific Investments Europe Inclu...
0.22             Greenland) Iceland Grantmaking 5,351,568
0.23    Europe Including Iceland Program Services Serv...
0.24    freenland Europe Greenland Including Iceland 8...
0.25    Greenland) cluding Iceland & Progr Services in...
0.26    Europe ;reenland) Including Iceland Program Se...
0.27    & 8,736,896 Greenland) urope including Icelan ...
0.28    urope Greenland) cluding Iceland Prog Services...
0.29    Europe Greenland :luding Icelan & vestments Mi...
0.30    Middle East and North  Africa 1 Progr services...
0.31    Middle East and North Africa Progr services Ac...
0.32    Africa 7,637 Middle East and North Programserv...
0.33    Middle East and North Africa Progr Services In...
0.34    Middle East and North Africa Progr Services Re...
0.35    Middle East and North Africa Progr Services St...
0.36              Middle East and North Africa Investment
0.37    North merica Fundraising 33,431 North merica G...
0.38    North merica Prog Services Service Centers 83,348
0.39    North merica Progr Services Academic Support 4...
0.40    North menca Progr Services institutional suppo...
0.41      North Services 857,731 merica Progi Instruction
0.42    North America 1 Progr Services Research other ...
0.43    North menca Progr Services Student Services 24...
0.44    North menca Investments Russia Newly Grantmaki...
0.45    Independ States Russia Newly Progr services Se...
0.46    Independ States Russia & Newly Programservices...
0.47    Independer States Independe tussia & Newly Sta...
0.48    111,296 Independe Russia Newly States Program:...
0.49    Russia & Newly Progr Services Student Services...
0.50         Russia & Independer Newly Investments States
0.51    South South America Fundraising 503,476 4,191 ...
0.52    South America Progr Services Service centers 5...
0.53    South America 14 Progran Services Academic sup...
0.54    South merica Program services Instruction 592,699
0.55    South America Progr Services academic activity...
0.56    South America Progr Services Student Services ...
0.57                              South Amenca Investment
Name: Text, dtype: object

In [170]:
rows[3]

['merica', 'the', 'Grantmaking', '303,788']

In [118]:
row_gap = 9.84*10**-5
pd.cut(
    table_words["Top"],
    pd.Series(
        range(
            int(
                (.73 - test_part_i_extractor.table_top) / row_gap
            )
        )
    ) * row_gap
)

Id
ee25f092-fbd0-457d-8172-714915b18904    (0.077047, 0.077146]
f0b00ce5-6cfb-4c56-a5e2-1892e1d82f2d    (0.077047, 0.077146]
6f17b9fd-5937-4bf0-a004-63f84ada93e7    (0.082754, 0.082853]
33733a90-daf3-45cd-be33-db2b819aa02c    (0.082853, 0.082951]
b6c12310-3590-4462-8871-7b8cb2f8c636    (0.082853, 0.082951]
                                                ...
681d3a2b-eb3c-49a0-bc67-0428f76fc234                     NaN
852701a0-ba50-4346-9296-cd5a50f55257                     NaN
fd7675aa-3acb-4b20-89e6-729e753d9168                     NaN
30da3627-2008-447f-9b95-4f4e6b67583a                     NaN
64f9c6a7-8c78-4f0d-a535-a9cd3f6f1695                     NaN
Name: Top, Length: 522, dtype: category
Categories (6655, interval[float64, right]): [(0.0, 9.84e-05] < (9.84e-05, 0.0001968] < (0.0001968, 0.0002952] < (0.0002952, 0.0003936] ... (0.65446, 0.65456] < (0.65456, 0.65466] < (0.65466, 0.65475] < (0.65475, 0.65485]]

In [113]:
table_words.groupby("Line_No2")["Text"].agg(lambda words: " ".join(words))

Line_No2
(0.0764, 0.0836]    located the region) Central merica and the Fun...
(0.0836, 0.0902]                                             Carbbear
(0.0902, 0.0967]     Central merica the Grantmaking 303,788 Caribbean
(0.0967, 0.103]     Central merica the Program services Academic S...
(0.103, 0.11]       anbbea :entral America the Program Services In...
                                          ...
(0.693, 0.7]        Sub- Saharan Africa Program services Research ...
(0.7, 0.706]             Saharan Africa Investments academic activity
(0.706, 0.713]
(0.713, 0.719]      Form 990 Schedule F Part II Grants or Entities...
(0.719, 0.726]      (b)IRS code (g) Amount of non- (h) Description...
Name: Text, Length: 99, dtype: object

In [30]:
test_part_i_extractor.table_top, test_part_i_extractor.table_bottom

(0.07500000000000001, 0.99)

In [102]:
test_part_i_extractor.get_row_spans(test_words, 30).tail(50)

     row_top  row_bottom
26  0.338497    0.347869
27  0.347869    0.365716
28  0.365716    0.374474
29  0.374474    0.382877
30  0.382877    0.391794
31  0.391794    0.400191
32  0.400191    0.408747
33  0.408747    0.417400
34  0.417400    0.426163
35  0.426163    0.443565
36  0.443565    0.452708
37  0.452708    0.461499
38  0.461499    0.470305
39  0.470305    0.479455
40  0.479455    0.488067
41  0.488067    0.505880
42  0.505880    0.514617
43  0.514617    0.523015
44  0.523015    0.531742
45  0.531742    0.540419
46  0.540419    0.548731
47  0.548731    0.557912
48  0.557912    0.575188
49  0.575188    0.583558
50  0.583558    0.592570
51  0.592570    0.600778
52  0.600778    0.609278
53  0.609278    0.618134
54  0.618134    0.627543
55  0.627543    0.652923
56  0.652923    0.661542
57  0.661542    0.670186
58  0.670186    0.678582
59  0.678582    0.687428
60  0.687428    0.695733
61  0.695733    0.721666
62  0.721666    0.721900
63  0.721900    0.723598
64  0.723598    0.723661
65  0.723661    0.723774
66  0.723774    0.724158
67  0.724158    0.725492
68  0.725492    0.727612
69  0.727612    0.727795
70  0.727795    0.728800
71  0.728800    0.731626
72  0.731626    0.731880
73  0.731880    0.733970
74  0.733970    0.734184
75  0.734184    0.990000

In [194]:
test_part_i_extractor.extract_rows(test_words, 30).head(50)

field,region,number_offices,number_employees,activities_conducted,specific_type_activity,total_expenditures
0,Central merica and the Carbbear,,,,,481
1,Central merica the Caribbean,,,,,"303,788"
2,Central merica the anbbea,,,,Academic Support,"20,973"
3,:entral :aribbean America the,,,,Instruction,"58,431"
4,entral merica Caribbear the Central Taribbean ...,,,,Research and other academic activity,"228,975"
5,East Asia and Pacific,,,,,"3,593"
6,East Asia and Pacific,,,,,"1,269,299"
7,East Asia and Pacific,,rogr,services,Service Centers,"118,026"
8,East Asia and Pacific,,,Services,Academic Support,"461,230"
9,East Asia and the Pacific,,Progr,services,Institutiona support,"71,217"
10,East Asia and Pacific,,,,instruction,"5,628,477"
11,East Asia and Pacific,,44 Progr,Services,Research Academic Activity other,"6,420,156"
12,East Asia and Pacific East Asia and Pacific,,,,Student services,"22,043"
13,Europe Greenland) Including Iceland &,,,,,"59,246"
14,Iceland,,,,,"5,351,568"
15,Europe freenland Including Iceland,,,Services,Service Centers,"245,139"
16,Europe Greenland Including Iceland 8,,Progr,Services,Academic Support,"689,566"
17,Greenland) cluding Iceland &,,Progr,Services,institutional Support,"80,288"
18,Europe ;reenland) Including Iceland,,,Services,Instruction,"4,676,915"
19,& Greenland) urope including Icelan,5,15 Progr,Services,Research academic activity other,"8,736,896"
20,urope Greenland) cluding Iceland Europe Greenl...,,Prog,Services,Student Services,"321,429"
21,Middle East and North Africa,1,2,,,"698,609"
22,Middle East and North Africa,,Progr,services,Service centers,"26,658"
23,Middle East and North Africa,,Progr,services,Academic support,"31,354"
24,Africa Middle East and North,,,,Institutional support,"7,637"
25,Middle East and North Africa,,Progr,Services,Instruction,"674,753"
26,Middle East and North Africa,,Progr,Services,Research other academicactivity,"325,683"
27,Middle East and North Africa Middle East and N...,,Progr,Services,Student Services,"80,648"
28,North merica,,,,,"33,431"
29,North merica,,,,,"676,647"
30,North merica,,Prog,Services,Service Centers,"83,348"
31,North merica,,Progr,Services,Academic Support,"400,150"
32,North menca,,Progr,Services,institutional support,"103,220"
33,North merica,,Progi,Services,Instruction,"857,731"
34,North America,,1 Progr,Services,Research other academic activity,"858,957"
35,North menca North menca,,Progr,Services,Student Services,"24,225"
36,Russia Independ States Newly,,,,,"243,041"
37,Russia Independ States Newly,,Progr,services,Service Centers,"1,950"
38,Russia & Independer Newly States,,,,Academic Support,"40,022"
39,Independe tussia & Newly States,,Progr,Services,Instruction,"87,961"
40,Independe Russia Newly States,,,Services,academic activity Research other,"111,296"
41,Russia & Newly Russia & Independer Independe S...,,Progr,Services,Student Services,600
42,South America,,,,,"4,191"
43,South America,,,,,"503,476"
44,South America,,Progr,Services,Service centers,"58,695"
45,South America,,14,Services,Academic support,"1,018,493"
46,South merica,,,,Instruction,"592,699"
47,South America,,Progr,Services,academic activity Research other,"939,544"
48,South South Amenca America,,Progr,Services,Student Services,"8,557"
49,South,,,,,1.039

In [70]:
test_part_i_extractor.row_extractors

,field,col_left,left_delta,col_right,right_delta,table
0,region,Top Left Corner,0.00,(b) Number of offices,0,Activities per Region
1,number_offices,(b) Number of offices,-0.01,(c) Number of employees,0,Activities per Region
2,number_employees,(c) Number of employees,-0.01,(d) Activities conducted,0,Activities per Region
3,activities_conducted,(d) Activities conducted,-0.01,(e) Specific type,0,Activities per Region
4,specific_type_activity,(e) Specific type,-0.01,(f) Total Expenditures,0,Activities per Region
5,total_expenditures,(f) Total Expenditures,-0.01,Bottom Right Corner,0,Activities per Region

In [192]:
test_part_i_extractor.get_col_span(
    "(c) Number of employees", "(d) Activities conducted"
)

(0.25, 0.37)

In [52]:
test_part_i_extractor.get_row_spans(test_words, 30).iloc[45]

row_top       0.531742
row_bottom    0.540419
Name: 45, dtype: float64

In [100]:
test_part_i_extractor.get_index_col_span()

(0.61, 1.0)

In [32]:
test_part_i_extractor.extract_row(
    test_words, 
    30,
    test_part_i_extractor.get_row_spans(test_words, 30).iloc[11]
)

0               East Asia and Pacific
1
2                            44 Progr
3                            Services
4    Research Academic Activity other
5                           6,420,156
dtype: object

In [45]:
bb = BoundingBox(
    left=0.16,
    left_delta=-0.03,
    top=0.187750,
    top_delta=-0.01,
    right=0.25,
    right_delta=0,
    bottom=0.197107,
    bottom_delta=0.01,
)
bb.get_text_in_box(test_words, 30)

''

In [82]:
page_words["Height"].mean()

0.0033432768477079464

In [80]:
page_words = test_words.loc[
    test_words["Page"] == 30
]

page_words.loc[
    page_words["Text"].str.contains("urop|eenla"),
    "Top"
]

Id
c6478b7a-58cb-4bfb-b0ab-ccc3145cfe33    0.214395
97e5b0e8-da82-4a78-91ac-e901c1966d4a    0.218660
1d36838a-ce95-4a4f-85ba-ec16621f4a9c    0.231943
f54e512e-59bd-42f7-9ff1-ee9d79b1c2c0    0.236210
75042c6d-992f-4f82-ac4e-95a9e6a55e7b    0.241169
4adddbf0-56a9-4967-9c7e-59275f9a7871    0.244966
54c7ae31-c12a-4131-8c3d-3fc4ed85482d    0.253953
b627d912-424f-4397-a597-aca428554617    0.259386
d1a14086-6824-4d6d-a17b-0613399bc110    0.262851
514db85a-17a0-469a-b522-9f8caff4238b    0.271945
1b68b285-5394-44f1-9a13-eb2ec9d76a19    0.267809
a0291324-8670-4c78-87e7-6570304085a9    0.276868
ef8d4545-fd28-405d-b50c-8dd243103f7e    0.281122
c9702555-2c52-4bc1-ab0c-c4d3f44182e4    0.285709
8b6365f8-db4d-4403-a6db-015280fa1855    0.289733
Name: Top, dtype: float64

In [72]:
means = page_words.loc[
    page_words["Text"].str.contains("urop|eenla"),
    "Top"
].rolling(2).mean().dropna().reset_index(drop=True)

In [77]:
ranges = page_words.loc[
    page_words["Text"].str.contains("urop|eenla"),
    "Top"
].rolling(2).apply(lambda x: x.max() - x.min()).dropna().reset_index(drop=True)

In [81]:
ranges

0     0.004265
1     0.013283
2     0.004268
3     0.004958
4     0.003797
5     0.008987
6     0.005433
7     0.003465
8     0.009095
9     0.004137
10    0.009059
11    0.004254
12    0.004587
13    0.004023
Name: Top, dtype: float64

In [75]:
means+stds

0     0.219544
1     0.234694
2     0.237094
3     0.242196
4     0.245752
5     0.255814
6     0.260512
7     0.263569
8     0.273829
9     0.272802
10    0.278744
11    0.282003
12    0.286659
13    0.290566
Name: Top, dtype: float64

In [58]:
page_words.groupby("Line_No")["File"].count().value_counts()

6     14
4     13
9     13
7     12
8     10
3      6
2      5
5      5
11     4
10     3
12     2
16     2
14     2
1      1
17     1
18     1
20     1
22     1
Name: File, dtype: int64

In [102]:
test_part_i_extractor.get_row_spans(test_words, 30).head(50)

     row_top  row_bottom
0   0.082498    0.091744
1   0.091744    0.100374
2   0.100374    0.109502
3   0.109502    0.117976
4   0.117976    0.136040
5   0.136040    0.144817
6   0.144817    0.153323
7   0.153323    0.161888
8   0.161888    0.170387
9   0.170387    0.179089
10  0.179089    0.187750
11  0.187750    0.197107
12  0.197107    0.213904
13  0.213904    0.223101
14  0.223101    0.231875
15  0.231875    0.240698
16  0.240698    0.249825
17  0.249825    0.258558
18  0.258558    0.267474
19  0.267474    0.276898
20  0.276898    0.294480
21  0.294480    0.302926
22  0.302926    0.312431
23  0.312431    0.320902
24  0.320902    0.330273
25  0.330273    0.338497
26  0.338497    0.347869
27  0.347869    0.365716
28  0.365716    0.374474
29  0.374474    0.382877
30  0.382877    0.391794
31  0.391794    0.400191
32  0.400191    0.408747
33  0.408747    0.417400
34  0.417400    0.426163
35  0.426163    0.443565
36  0.443565    0.452708
37  0.452708    0.461499
38  0.461499    0.470305
39  0.470305    0.479455
40  0.479455    0.488067
41  0.488067    0.505880
42  0.505880    0.514617
43  0.514617    0.523015
44  0.523015    0.531742
45  0.531742    0.540419
46  0.540419    0.548731
47  0.548731    0.557912
48  0.557912    0.575188
49  0.575188    0.583558

In [31]:
test_extractors.iloc[-5]

Extractor(name='activities_per_region_totals_number_of_offices', strategy='words', page=26, bounding_box=BoundingBox(left=0.2, left_delta=0.0, top=0.96, top_delta=-0.001, right=0.31, right_delta=0.01, bottom=0.96, bottom_delta=0.02), regex=re.compile('(?P<match>\\d+[\\d,.]*\\b|\\b[ooIL]\\b)'))

In [32]:
test_extractors.iloc[-5].bounding_box.get_text_in_box(test_words, 26)

'25'

In [ ]:
test_extractors.iloc[28].extract(test_words, test_lines)

In [21]:
BoundingBox(
    left=0, 
    left_delta=0, 
    top=0.96, 
    top_delta=-0.001, 
    right=1, 
    right_delta=0.01, 
    bottom=.96, 
    bottom_delta=0.02
).get_text_in_box(test_words, 26)

'25 305 96,031,393 Totals'

In [ ]:
test_words.loc[
    test_words["Text"].str.contains("244")
    & (test_words["Page"] == 2)
]

In [ ]:
BoundingBox(
    left=0,
    left_delta=0,
    top=.21,
    top_delta=0,
    right=1,
    right_delta=0,
    bottom=.25,
    bottom_delta=0,
).get_text_in_box(test_words, 2)

In [ ]:
test_words.loc[test_words["Text"].str.contains("H\(a\)")]

In [30]:
test_roadmap.tail(50)

,Top,Left,Top_Default,Left_Default
Item,,,,
"Part IX, Item 11b",0.429712,0.026196,0.43,0.10
"Part IX, Item 11c",0.447892,0.025837,0.45,0.10
"Part IX, Item 11d",0.465651,0.025995,0.46,0.10
"Part IX, Item 11e",0.483246,0.025963,0.49,0.10
"Part IX, Item 11f",0.501698,0.047581,0.49,0.10
"Part IX, Item 11g",0.519664,0.025652,0.51,0.10
"Part IX, Item 12",0.537709,0.047724,0.53,0.10
"Part IX, Item 13",0.55537,0.048127,0.55,0.10
"Part IX, Item 14",0.57368,0.047936,0.57,0.10
"Part IX, Item 15",0.591688,0.01286,0.59,0.10
"Part IX, Item 16",0.610026,0.012761,0.61,0.10
"Part IX, Item 17",0.627559,0.012831,0.63,0.10
"Part IX, Item 18",0.645622,0.04846,0.65,0.10
"Part IX, Item 19",0.675411,0.048645,0.67,0.10
"Part IX, Item 20",0.693364,0.01266,0.69,0.10
"Part IX, Item 21",0.711328,0.048779,0.71,0.10
"Part IX, Item 22",0.729259,0.048698,0.73,0.10
"Part IX, Item 23",0.747601,0.0126,0.75,0.10
"Part IX, Item 24a",0.807717,0.030867,0.79,0.10
"Part IX, Item 24b",0.825844,0.031315,0.81,0.10
"Part IX, Item 24c",0.843742,0.030891,0.83,0.10
"Part IX, Item 24d",0.86185,0.030823,0.85,0.10
"Part IX, Item 24e",0.879597,0.030876,0.86,0.10
"Part IX, Item 25",0.91556,0.048098,0.87,0.10
"Part IX, Item 26",0.934805,0.048267,0.89,0.10
Total expenses,0.072243,0.535325,0.10,0.49
Program service expenses,0.066691,0.639048,0.10,0.62
Management and general expenses,0.066565,0.738902,0.10,0.75
Fundraising expenses,0.066589,0.835007,0.10,0.88
"Schedule F, Part I, Item 3a",<NA>,<NA>,0.80,0.01
"Schedule F, Part I, Item 3b",<NA>,<NA>,0.82,0.01
"Schedule F, Part I, Item 3c",0.965607,0.006675,0.86,0.01
(b) Number of offices,0.372827,0.205169,0.51,0.27
(c) Number of employees,0.372974,0.311689,0.51,0.38
(d) Activities conducted,0.362683,0.421464,0.51,0.49
(e) Specific type,0.365593,0.572974,0.51,0.65
(f) Total expenditures,0.369572,0.743917,0.51,0.84
"Schedule F, Part II, Item 2",<NA>,<NA>,0.78,0.00
"Schedule F, Part II, Item 3",<NA>,<NA>,0.90,0.00
(a) Name of organization,0.143875,0.032901,0.20,0.03
(b) IRS code,0.124959,0.127594,0.20,0.12
(c) Region,0.125111,0.232265,0.20,0.23
(d) Purpose of grant,0.124982,0.335844,0.20,0.33
(e) Amount of cash grant,0.125184,0.451767,0.20,0.44
(f) Manner of cash disbursement,0.125038,0.568161,0.20,0.56
(g) Amount of noncash assistance,0.125244,0.68064,0.20,0.68
(h) Description of noncash assistance,0.125043,0.791802,0.20,0.78
(i) Method of valuation,0.124983,0.910779,0.20,0.90
Top Left Corner,0,0,0.00,0.00
Bottom Right Corner,1,1,1.00,1.00

## BREAK

In [88]:
page_words["Line_No2"] = pd.cut(page_words["Top"], int(1 / page_words["Height"].mean()))

/tmp/ipykernel_1750/3638368546.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  page_words["Line_No2"] = pd.cut(page_words["Top"], int(1 / page_words["Height"].mean()))

In [92]:
page_words.groupby("Line_No2")["Text"].agg(lambda words: " ".join(words)).head(50)

Line_No2
(0.00142, 0.00571]                                      Additional Data
(0.00571, 0.009]
(0.009, 0.0123]
(0.0123, 0.0156]
(0.0156, 0.0189]                                           Software ID:
(0.0189, 0.0222]
(0.0222, 0.0255]                                      Software Version:
(0.0255, 0.0288]
(0.0288, 0.0321]                                        EIN: 04-2103580
(0.0321, 0.0354]         Name: President and Fellows of Harvard College
(0.0354, 0.0387]
(0.0387, 0.042]
(0.042, 0.0453]
(0.0453, 0.0486]
(0.0486, 0.0519]      Form 990 Schedule F Part Activities Outside Th...
(0.0519, 0.0552]
(0.0552, 0.0585]      )Region Number ) Number (d)Activities (e)I act...
(0.0585, 0.0617]      offices in the employees conducted ir region (...
(0.0617, 0.065]
(0.065, 0.0683]             region agents type)(i fundrais ing describe
(0.0683, 0.0716]                       region specific type o ofservice
(0.0716, 0.0749]                                           (s)in region
(0.0749, 0.0782]                                    located the region)
(0.0782, 0.0815]
(0.0815, 0.0848]                 Central merica and the Fundraising 481
(0.0848, 0.0881]                                               Carbbear
(0.0881, 0.0914]
(0.0914, 0.0947]                 Central merica the Grantmaking 303,788
(0.0947, 0.098]                                               Caribbean
(0.098, 0.101]        Central merica the Program services Academic S...
(0.101, 0.105]                                                   anbbea
(0.105, 0.108]
(0.108, 0.111]        :entral America the Program Services Instructi...
(0.111, 0.114]                                                :aribbean
(0.114, 0.118]
(0.118, 0.121]        entral merica Research and other 228,975 the P...
(0.121, 0.124]                              Caribbear academic activity
(0.124, 0.128]                                                      the
(0.128, 0.131]                               Central merica Investments
(0.131, 0.134]                                                Taribbean
(0.134, 0.138]                  East Asia and Pacific Fundraising 3,593
(0.138, 0.141]
(0.141, 0.144]
(0.144, 0.147]              East Asia and Pacific Grantmaking 1,269,299
(0.147, 0.151]
(0.151, 0.154]        East Asia and Pacific rogr services Service Ce...
(0.154, 0.157]
(0.157, 0.161]
(0.161, 0.164]        East Asia and Pacific rogram Services Academic...
(0.164, 0.167]
Name: Text, dtype: object

In [87]:
pd.cut(page_words["Top"], int(1 / page_words["Height"].mean()))

Id
d3a1c1bd-c3c4-4e73-890a-bac0bf76f386    (0.00142, 0.00571]
ee179b8a-9281-4f9f-a45d-f12360ec4060    (0.00142, 0.00571]
3d402eba-f5ab-452d-9627-9d1017f17b8f      (0.0156, 0.0189]
17bf6f46-936a-4fba-bbce-826528e88a97      (0.0156, 0.0189]
60eed702-c656-4f8a-9013-59aa4351f047      (0.0222, 0.0255]
                                               ...
1cc5a3b3-919e-4aa2-b41b-43fecfa555a2        (0.985, 0.988]
c8693518-e160-4ea7-ab23-814955d32a01        (0.978, 0.982]
d62f2ffc-e184-460a-ba76-5be9a0d79e4c        (0.985, 0.988]
7eee2453-89a3-4a23-a8da-1cfaa0526efc        (0.978, 0.982]
50484db0-7736-4482-9980-06b47f26666f        (0.985, 0.988]
Name: Top, Length: 706, dtype: category
Categories (299, interval[float64, right]): [(0.00142, 0.00571] < (0.00571, 0.009] < (0.009, 0.0123] < (0.0123, 0.0156] ... (0.975, 0.978] < (0.978, 0.982] < (0.982, 0.985] < (0.985, 0.988]]

In [ ]:
assert False

In [ ]:
part_i_table = extract_table_data(
    test_pages, test_lines, test_words, PART_I_HEADER, PART_I_TABLE_NAME,
    schedule_f_tablemap_df, schedule_f_table_extractor_df,
    schedule_f_row_extractor_df
)

In [ ]:
part_i_table

In [ ]:
table_pages = find_table_pages(test_pages["Text"].agg(lambda words: " ".join(words)), PART_I_HEADER)

In [ ]:
table_pages

In [ ]:
tablemaps = pd.DataFrame(
    {
        "page": table_pages,
        "tablemap": table_pages.map(
            lambda page: create_tablemap(test_lines, schedule_f_tablemap_df, page).dropna()
        )
    }
)

In [ ]:
tablemaps["tablemap"].iloc[0]

In [ ]:
table_row_extractors = schedule_f_row_extractor_df.loc[
    schedule_f_row_extractor_df["table"] == PART_I_TABLE_NAME
]

table = schedule_f_table_extractor_df.loc[
        schedule_f_table_extractor_df["table"] == PART_I_TABLE_NAME
].iloc[0]


extractors = tablemaps.assign(
    extractor=tablemaps["tablemap"].map(
        lambda tablemap: TableExtractor(
            top_label=table["table_top"],
            top_delta=table["table_top_delta"],
            bottom_label=table["table_bottom"],
            bottom_delta=table["table_bottom_delta"],
            row_margin=table["row_margin"],
            index_col_left_label=table["index_col_left"],
            index_col_left_delta=table["index_col_left_delta"],
            index_col_right_label=table["index_col_right"],
            index_col_right_delta=table["index_col_right_delta"],
            tablemap=tablemap,
            row_extractors=table_row_extractors,
            fields=table_row_extractors["field"],   
        )
    )
)

In [ ]:
extractors["extractor"].iloc[0]

In [ ]:
extractors.apply(
    lambda row: row["extractor"].extract_rows(test_words, row["page"]),
    axis=1
)

In [ ]:
extractors["extractor"].iloc[0].extract_rows(test_words, 20)

In [ ]:
extractors["extractor"].iloc[0].get_row_spans(test_words, 20)

In [ ]:
extractors["extractor"].iloc[0].get_index_col_span()

In [ ]:
extractors["extractor"].iloc[0].table_bottom

In [ ]:
page_20_words = test_words.loc[
    (test_words["Page"] == 20)
]

In [ ]:
row_tops = page_20_words.loc[
    page_20_words["Left"].between(0.87, 1)
    & page_20_words["Top"].between(0.37, 1)
]

In [ ]:
row_tops

In [ ]:
extractors["extractor"].iloc[0].extract_row(test_words, 20, (.383, .8))

In [ ]:
page_20_words.loc[page_20_words["Text"] == "ISRAEL"]

## Extracting a bunch

In [ ]:
ocr_outputs = list(Path("/mnt/c/Users/ethan/pdf_parsing").glob("EIN_*.json"))

In [ ]:
len(ocr_outputs)

In [ ]:
def open_local_df(path):
    with open(path) as json_data:
        output = json.load(json_data)
        return pd.DataFrame.from_records(
            output["Blocks"],
            index="Id",
            exclude=[
                "ColumnIndex",
                "ColumnSpan",
                "DocumentType",
                "EntityTypes",
                "Hint",
                "Query",
                "SelectionStatus",
                "RowIndex",
                "RowSpan",
            ]
        ).assign(
            Height=lambda df: df["Geometry"].map(lambda x: x["BoundingBox"]["Height"]),
            Left=lambda df: df["Geometry"].map(lambda x: x["BoundingBox"]["Left"]),
            Top=lambda df: df["Geometry"].map(lambda x: x["BoundingBox"]["Top"]),
            Width=lambda df: df["Geometry"].map(lambda x: x["BoundingBox"]["Width"]),
            Polygon=lambda df: df["Geometry"].map(lambda x: x["Polygon"]),
            Children=lambda df: df["Relationships"].map(lambda x: x[0]["Ids"] if x is not None else x),
            Line_No=lambda df: pd.qcut(df["Top"], 100, labels=list(range(100))).astype(int),
            File=lambda df: df["Geometry"].map(lambda x: path.name),
            Right=lambda df: df["Polygon"].map(
                lambda polygon: max(corner["X"] for corner in polygon)
            ),
            Bottom=lambda df: df["Polygon"].map(
                lambda polygon: max(corner["Y"] for corner in polygon)
            )
        ).drop(
            columns=[
                "Geometry",
                "Relationships",
            ]
        ).sort_values(
            by=["File", "Page", "Line_No", "Left"]
        )

In [ ]:
filing_rows = []
schedule_f_part_i_rows = []
schedule_f_part_ii_rows = []
schedule_f_part_iii_rows = []

for (count, path) in enumerate(ocr_outputs[:100]):
    print(count, path.name)
    try:
        data = open_local_df(path)
    except Exception as e:
        print(path.name)
        print(e)
    else:
        lines = data.loc[data["BlockType"] == "LINE"]
        words = data.loc[data["BlockType"] == "WORD"]
        page_map = find_pages(lines)
        roadmap = create_roadmap(
            lines, roadmap_df, page_map
        )
        row = extract_from_roadmap(
            words, lines, roadmap, extractor_df, page_map
        )
        row["file"] = path.name
        filing_rows.append(row)
        pages = lines.groupby("Page")
        part_i_table = extract_table_data(
            pages, lines, words, PART_I_HEADER, PART_I_TABLE_NAME, 
            schedule_f_tablemap_df, schedule_f_table_extractor_df, schedule_f_row_extractor_df,
        )
        if part_i_table is not None:
            schedule_f_part_i_rows.append(
                part_i_table.assign(file=path.name)
            )
        part_ii_table = extract_table_data(
            pages, lines, words, PART_II_HEADER, PART_II_TABLE_NAME, 
            schedule_f_tablemap_df, schedule_f_table_extractor_df, schedule_f_row_extractor_df,
        )
        if part_ii_table is not None:
            schedule_f_part_ii_rows.append(
                part_ii_table.assign(file=path.name)
            )
        part_iii_table = extract_table_data(
            pages, lines, words, PART_III_HEADER, PART_III_TABLE_NAME, 
            schedule_f_tablemap_df, schedule_f_table_extractor_df, schedule_f_row_extractor_df,
        )
        if part_iii_table is not None:
            schedule_f_part_iii_rows.append(
                part_iii_table.assign(file=path.name)
            )
    
filing_output_df = pd.DataFrame(filing_rows).set_index("file")

In [ ]:
filing_output_df["total_revenue"].value_counts()

In [ ]:
filing_output_df.iloc[24].iloc[:50]

In [ ]:
schedule_f_part_i_df = pd.concat(schedule_f_part_i_rows)

In [ ]:
schedule_f_part_i_df.iloc[:50]

In [ ]:
schedule_f_part_ii_df = pd.concat(schedule_f_part_ii_rows)

In [ ]:
schedule_f_part_ii_df.iloc[50:100]

In [ ]:
schedule_f_part_iii_df = pd.concat(schedule_f_part_iii_rows)

In [ ]:
schedule_f_part_iii_df.tail(50)

In [ ]:
clean_filing(filing_output_df)

In [ ]:
re.search(r"(?P<open_par>\()(\d+)(?(open_par)\)|\b)", "(2425)").group(2)

In [ ]:
test_new_filing = open_local_df(
    Path("/mnt/c/Users/ethan/pdf_parsing") / "EIN_200478411_YEAR_2017_FORMTYPE_990.json"
)

In [ ]:
test_new_filing

In [ ]:
test_new_filing_words = test_new_filing.loc[
    test_new_filing["BlockType"] == "WORD"
]

test_new_filing_lines = test_new_filing.loc[
    test_new_filing["BlockType"] == "LINE"
]
test_new_filing_pages = test_new_filing_lines.groupby("Page")

In [ ]:
page_map = find_pages(test_new_filing_lines)

In [ ]:
page_map

In [ ]:
roadmap = create_roadmap(test_new_filing_lines, roadmap_df, page_map)

In [ ]:
roadmap.iloc[:50]

In [ ]:
extractors = create_extractors(extractor_df, roadmap, page_map)

In [ ]:
test_extractor = extractors.iloc[2]
test_page = 1

In [ ]:
test_extractor.bounding_box.get_text_in_box(test_new_filing_lines, 1)

In [ ]:
test_extractor.bounding_box.top -= 0.001

In [ ]:
extract_table_data(
    test_new_filing_pages, test_new_filing_lines, test_new_filing_words,
    PART_II_HEADER, PART_II_TABLE_NAME, schedule_f_tablemap_df,
    schedule_f_table_extractor_df, schedule_f_row_extractor_df,
)

In [ ]:
table_pages = find_table_pages(
    test_new_filing_pages["Text"].agg(lambda words: " ".join(words)), PART_II_HEADER,
)

In [ ]:
table_pages

In [ ]:
tablemaps = pd.DataFrame(
    {
        "page": table_pages,
        "tablemap": table_pages.map(
            lambda page: create_tablemap(test_new_filing_lines, schedule_f_tablemap_df, page).dropna()
        )
    }
)
tablemaps

In [ ]:
tablemaps.iloc[1]["tablemap"]

In [ ]:
row_extractors = schedule_f_row_extractor_df.loc[
    schedule_f_row_extractor_df["table"] == PART_II_TABLE_NAME
]

In [ ]:
row_extractors

In [ ]:
table = schedule_f_table_extractor_df.loc[
    schedule_f_table_extractor_df["table"] == PART_II_TABLE_NAME
].iloc[0]
table

In [ ]:
rows = tablemaps.assign(
    extractor=tablemaps["tablemap"].map(
        lambda tablemap: TableExtractor(
            top_label=table["table_top"],
            top_delta=table["table_top_delta"],
            bottom_label=table["table_bottom"],
            bottom_delta=table["table_bottom_delta"],
            row_margin=table["row_margin"],
            index_col_left_label=table["index_col_left"],
            index_col_left_delta=table["index_col_left_delta"],
            index_col_right_label=table["index_col_right"],
            index_col_right_delta=table["index_col_right_delta"],
            tablemap=tablemap,
            row_extractors=row_extractors,
            fields=row_extractors["field"],
        )
    )
)

In [ ]:
rows

In [ ]:
extractor = rows["extractor"].iloc[1]

In [ ]:
page_74_lines = test_new_filing_lines.loc[
    test_new_filing_lines["Page"] == 74
]

In [ ]:
extractor.row_extractors

In [ ]:
extractor.extract_rows(page_74_words, 74)

In [ ]:
extractor.get_col_span("(b) Region", "(c) Number of recipients")

In [ ]:
extractor.get_row_spans(test_new_filing_words, 74)

In [ ]:
BoundingBox(
    left=0.55,
    left_delta=0,
    top=0.365,
    top_delta=-.01,
    right=0.66,
    right_delta=0,
    bottom=1,
    bottom_delta=0.01
).get_text_in_box(page_74_lines, 74)

In [ ]:
extractor.index_col_left_label

In [ ]:
extractor.table_top

In [ ]:
extractor.extract_rows(test_new_filing_words, 74).iloc[0].any()